{% extends "home.html" %}
{% load staticfiles %}
{% block main %}
<div style="position:relative;padding-top:54px;" class="visible-xs">
<section id="bg-paralax" style="background-position: 50% 5px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="magin30"> <span class="typed"> </span> <br> <span style="margin-top:50px;">With Confidence</span></h2>
        
        <a class="btn-green btn-common bounce-top page-scroll" href="/#about">View More</a>
      </div>
    </div>
  </div>
</section>

</div>
<section id="main-slider" class="layer-content-responsive hidden-xs">
  
  <div class="tp-banner-container ">
    <div class="tp-banner fullscreenbanner layer-content-responsive">      
      <ul>	<!-- SLIDE  -->
        
        <!-- SLIDE  -->
         <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="1000"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">
			
           <img src="{% static 'images/slide-bg.jpg' %}" alt="Dailymails Web & Mobile Push Notifications" />
           
           <div class="caption lfr" data-x="720" data-y="90" data-speed="1200" data-start="3200" data-easing="easeOutBack" style="z-index: 3;"><img src="{% static 'images/women.png' %}" alt="Dailymails Transactional & marketing Mail" /></div>
             
           <div class="layer-content" >
            <!-- LAYER NR. 1 -->
           <p class="tp-caption sft tp-resizeme"
           data-x="left"
           data-y="130" 
           data-speed="500"
           data-start="1000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">Send AI Based Omni Channel Notifications via Dailymails Automate+ Quickly and Easily.
           </p>
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption fade tp-resizeme text-left"
           data-x="left"
           data-y="180" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9;"><span class="typed" style="color:black"></span>   <br>
               With  <span> Confidence</span>
           </h2>
        
            <!-- LAYER NR. 3 --> 
           <p class="tp-caption sft tp-resizeme "
           data-x="left"
           data-y="320" 
           data-speed="500"
           data-start="2000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;"> Use Dailymails CRMPlus to enhance productivity and processes visibility for Sales Team.
           </p>
        <!-- LAYER NR. 3 -->
           <div class="tp-caption sft tp-resizeme"
           data-x="left"
           data-y="380" 
           data-speed="500"
           data-start="2800"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
           <a href="/#about" class="btn-common btn-green bounce-white page-scroll">View More</a>
           {% comment %}<a href="#." class="btn-common btn-blue bounce-white">Buy BizOne</a>{% endcomment %}
           </div>

            
           </div> 
                   
                    
                    
            
            
</li>
        
        
        
        
      </ul>
    </div>
  </div>
</section>



<section id="dailymailstrust" class="wow fadeIn animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeIn;">
  <div class="container">
             <div class="row">
                <div class="col-12 col-md-12 text-center"><p>You are in good hands. We are trusted by:</p></div>
                <div class="col-xs-6 col-md-3"><img src="{% static 'images/trust/eventdex_logo.png' %}" /></div>
                <div class="col-xs-6 col-md-3"><img style="opacity:0.6" src="{% static 'images/trust/fabhotels.png' %}" /></div>
                <div class="col-xs-6 col-md-3"><img style="opacity:0.5" src="{% static 'images/trust/marg.png' %}" /></div>
                <div class="col-xs-6 visible-xs"><img style="opacity:0.6" src="{% static 'images/trust/pridehotel.png' %}" /></div>
                <div class="hidden-xs col-md-3"><img style="opacity:0.5" src="{% static 'images/trust/freshersworld.png' %}" /></div>
            </div>
            <div class="row" style="padding-top:10px;">
              <div class="col-12 col-md-12 text-center"><a href="/show/clients/" style="" class="btn btn-sm btn-success">
                  <b>+ Show All </b></a>
              </div>
            </div>
        </div>
</section>



<!--What We Offer-->
<section class="section-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeIn;">
        <p class="title">Our Valued Services</p>
        <h2 class="heading">What we Offer</h2>
      </div>
       </div>
      <div class="row">
      
       
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 1100ms; animation-name: fadeInDown;"> 
        <a href="https://crm.dailymails.org">
        <span class="text-center"><i class="icon-users color6"></i></span>
        <h4 class="color6">CRMPlus</h4>
        <p>Dailymails CRMPlus is an online Sales CRM software that manages your sales, marketing and support in one CRM platform.</p>
        </a>
      </div>

        <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 1100ms; animation-name: fadeInDown;">
        <a href="https://automate.dailymails.org">
          <span class="text-center"><i class="icon-gears color4"></i></span>
          <h4 class="color4">Automate+</h4>
          <p>Send great-looking omni-channel Notifications that engage and sell.Send autoresponder, FollowUp  & Workflow Notifications to engage customers.</p>
        </a>
      </div>



      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 1100ms; animation-name: fadeInDown;">
      <a href="https://emailvalidators.com">
        <span class="text-center"><i class="icon-checkmark2 color3"></i></span>
        <h4 class="color3">EmailValidators</h4>
        <p>Quickly Validate and Remove Invalid, Disposable, Spam Trap, Abusive and Other Harmful Email Addresses through emailvalidators.</p>
      </a>
      </div>

        <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1100ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 1100ms; animation-name: fadeInDown;">
        <a href="https://mobiads.dailymails.org">
          <span class="text-center"><i class="icon-bullhorn color5"></i></span>
          <h4 class="color5">MobiAds</h4>
          <p>MobiAds helps publishers to monetize content on social, mobile or website Platform. It's a game-changer for publisher monetization.</p>
        </a>
      </div>

      
       
      </div>
  </div>
</section>


{% comment %}

<!-- Paralax Effect Section -->
<div style="position:relative;" class="top-padding">
<section id="bg-paralax" style="background-position: 50% 5px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>Unleash your creative potential with BizOne</p>
        <h2 class="magin30">Looking For Exclusive Digital Services?</h2>
        
        <a class="btn-green btn-common bounce-top page-scroll" href="http://www.themesindustry.com/html/bizone/index5.html#letstalk">Let's Talk</a>
      </div>
    </div>
  </div>
</section>

</div>





<!-- Responsive image with left -->
<section id="responsive" class="top-padding">
  <div class="container-fluid">
    <div class="row responsive-pic">
      <div class="col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInLeft;"> 
      	<img src="{% static 'images/full-responsive.png' %}" alt="fully responsive" class="img-responsive">
      </div>
      <div class="container wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInRight;">
        <div class="row">
          <div class="col-md-6 col-sm-6 r-test">
            <h3 class="magin30">Unique experience</h3>
            <p>We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you wonÃ¢â‚¬â„¢t receive a generic service and although we canÃ¢â‚¬â„¢t boast years and years of service we can ensure you that is a good thing in this industry.</p>
            <h4>Features</h4>
            <ul class="r-feature">
              <li>Creative Design</li>
              <li>Website Development</li>
              <li>Mobile Development</li>
              <li>Website Designing</li>
              <li>Online Marketing</li>
              <li>Graphic Design</li>
              <li>Graphic Design</li>
              <li>Wordpress Theme</li>
            </ul>
            <div class="screens"> <i class="icon-laptop2"></i> <i class="icon-tablet2"></i> <i class="icon-icons202"></i> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endcomment %}
<!--Counter-->
<section id="facts" class="top-padding">
  <h3 class="hidden">hidden</h3>
  <div class="container-fluid">
    <div class="row number-counters"> 
      <!-- first count item -->
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
       <div class="counters-item green row">
        <i class="icon-smile"></i> 
        <h2><strong data-to="15">10</strong>k</h2>
          <p>Brands Across Verticals </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInDown;">
      
       <div class="counters-item dark_gray row">
        <i class="icon-smile"></i> 
        <h2><strong data-to="65">65</strong>%</h2>
          <p>Increase Page Views </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInDown;">
        <div class="counters-item blue row"> 
        <i class="icon-icons42"></i>
        <h2><strong data-to="75">50</strong> M</h2>
          <p>Notifications Sent Daily</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInDown;">
        
        <div class="counters-item green row"> 
        <i class="icon-alarmclock"></i>
        <h2><strong data-to="5">10</strong></h2>
          <p>Billion Notification Sent</p>
        </div>
      </div>

      <!-- end first count item --> 
    </div>
  </div>
</section>

{% comment %}

<!-- Skills With Round Pattern -->
<section id="experties" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">Some of Our skills</p>
        <h2 class="heading">our expertise</h2>
      </div>
      <div class="col-md-12">
      <div class="some clearfix text-center">
      <div class="myStat2 circliful" data-text="86%" data-width="10" data-fontsize="14" data-percent="86" data-fgcolor="#07aaa5" data-bgcolor="#eee" data-bordersize="15" style="width: 200px;"> 
      <p>Web Development</p>
      <span class="circle-text" style="line-height: 200px; font-size: 14px;">86%</span><canvas width="200" height="200" style="width: 200px; height: 200px;"></canvas></div>
      <div class="myStat2 circliful" data-text="90%" data-width="30" data-fontsize="14" data-percent="90" data-fgcolor="#82b440" data-bgcolor="#eee" data-bordersize="15" style="width: 200px;">
      <p>Development</p>
      <span class="circle-text" style="line-height: 200px; font-size: 14px;">90%</span><canvas width="200" height="200" style="width: 200px; height: 200px;"></canvas></div>
      <div class="myStat2 circliful" data-text="75%" data-width="30" data-fontsize="14" data-percent="75" data-fgcolor="#07aaa5" data-bgcolor="#eee" data-bordersize="15" style="width: 200px;">
     <p>App development</p>
      <span class="circle-text" style="line-height: 200px; font-size: 14px;">75%</span><canvas width="200" height="200" style="width: 200px; height: 200px;"></canvas></div>
      <div class="myStat2 circliful" data-text="79%" data-width="30" data-fontsize="14" data-percent="79" data-fgcolor="#82b440" data-bgcolor="#eee" data-bordersize="15" style="width: 200px;">
      <p> performence</p>
      <span class="circle-text" style="line-height: 200px; font-size: 14px;">79%</span><canvas width="200" height="200" style="width: 200px; height: 200px;"></canvas></div>
      <div class="myStat2 circliful" data-text="92%" data-width="30" data-fontsize="14" data-percent="92" data-fgcolor="#07aaa5" data-bgcolor="#eee" data-bordersize="15" style="width: 200px;">
     <p> usability</p>
      <span class="circle-text" style="line-height: 200px; font-size: 14px;">92%</span><canvas width="200" height="200" style="width: 200px; height: 200px;"></canvas></div>
     </div>
      </div>
    </div>
  </div>
</section>





<!-- What We Do Section -->
<section class="we-do bg-grey padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"> 
        <p class="title">Our Service Keeps you Happy</p>
        <h2 class="heading">what we do</h2>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInUp;"> 
        <div class="do-wrap text-center"> 
          <div class="dark_gray top"></div> 
          <span class="dark_gray"><i class="icon-icons9"></i></span>
          <h4>Hot Design</h4>
          <p>Keep away from people who try to belittle your ambitions. Small people always do that.</p>
          <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="readmore">READ MORE</a> </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: fadeInUp;"> 
        <div class="do-wrap text-center"> 
          <div class="green top"></div> 
          <span class="green"><i class="icon-icons96"></i></span>
          <h4>Hot Design</h4>
          <p>Keep away from people who try to belittle your ambitions. Small people always do that.</p>
          <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="readmore">READ MORE</a> </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInUp;"> 
        <div class="do-wrap text-center"> 
          <div class="dark_gray top"></div> 
         <span class="dark_gray"> <i class="icon-icons42"></i></span>
          <h4>Hot Design</h4>
          <p>Keep away from people who try to belittle your ambitions. Small people always do that.</p>
          <a href="http://www.themesindustry.com/html/bizone/index5.html#." class=" readmore">READ MORE</a> </div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="1200ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 1200ms; animation-name: fadeInUp;"> 
        <div class="do-wrap text-center"> 
          <div class="green top"></div> 
          <span class="green"><i class="icon-icons9"></i></span>
          <h4>Hot Design</h4>
          <p>Keep away from people who try to belittle your ambitions. Small people always do that.</p>
          <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="readmore">READ MORE</a> </div>
      </div>
    </div>
  </div>
 </section>



<!-- Crteative Thinker -->
<section id="thinkers" class="section-padding padding-botom">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
        <p class="title">Passionate about perfection</p>
        <h2 class="heading">Creative thinkers</h2>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp zoomIn animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: zoomIn;"> 
        <div class="thinker-wrap"> 
          <div class="thinker-image">
          	<img src="{% static 'images/thinker.jpg' %}" alt="Richard" class="img-responsive">
            <div class="overlay">
              <div class="overlay-inner">
                <ul class="social-link">
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="icon-instagram"></i><span></span></a></li>
              </ul>
              </div>
            </div>
          </div>
          <h3>John Doe</h3>
          <small>Ceo</small>
          <p>Keep away from people who try to belittle your ambitions. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp zoomIn animated" data-wow-duration="500ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 600ms; animation-name: zoomIn;"> 
        <div class="thinker-wrap"> 
          <div class="thinker-image">
          	<img src="{% static 'images/thinker2.jpg' %}" alt="Richard" class="img-responsive">
            <div class="overlay green">
              <div class="overlay-inner">
                <ul class="social-link">
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="icon-instagram"></i><span></span></a></li>
              </ul>
              </div>
            </div>
          </div>
          <h3>Mary Jane</h3>
          <small>Co-Founder</small>
          <p>Keep away from people who try to belittle your ambitions. Small people always do that.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 wow fadeInUp zoomIn animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: zoomIn;"> 
        <div class="thinker-wrap"> 
          <div class="thinker-image">
          	<img src="{% static 'images/thinker3.jpg' %}" alt="Richard" class="img-responsive">
            <div class="overlay">
              <div class="overlay-inner">
                <ul class="social-link">
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
                <li><a href="http://www.themesindustry.com/html/bizone/index5.html#." class="text-center"><i class="icon-instagram"></i><span></span></a></li>
              </ul>
              </div>
            </div>
          </div>
          <h3>Josh Clark</h3>
          <small>Sales Head</small>
          <p>Keep away from people who try to belittle your ambitions. Small people always do that.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Work Project GALLERY -->
<section id="project" class="wow fadeInUp section-padding animated" data-wow-duration="500ms" data-wow-delay="900ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInUp;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">what we do</p>
        <h2 class="heading">latest projects</h2>
        <div class="work-filter">
          <ul class="text-center">
             <li><a href="javascript:;" data-filter="all" class="filter active">All</a></li>
             <li><a href="javascript:;" data-filter=".brand" class="filter">Brand</a></li>
             <li><a href="javascript:;" data-filter=".design" class="filter">Design</a></li>
             <li><a href="javascript:;" data-filter=".graphic" class="filter">Graphic</a></li>
             <li><a href="javascript:;" data-filter=".video" class="filter">Video</a></li>
          </ul>
		 </div>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid project-wrapper" id="MixItUpD9A20F">
    <div class="zerogrid">
      <div class="wrap-container clearfix">
        <div class="row wrap-content">
          <div class="col-1-2">
              <div class="col-full mix work-item video" style="display: inline-block;">
          <div class="wrap-col">
              <div class="item-container"> 
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="{% static 'images/workimg1.jpg' %}">
						<div class="overlay-inner">
						<h4 class="base">Creative Design</h4>
                  <div class="line"></div>
						<p>Print Media</p>
                  </div>
					</a>
                <img src="{% static 'images/workimg1.jpg' %}" alt="work">
              </div>
            </div>
          </div>
          <div class="col-2-4 mix work-item brand" style="display: inline-block;">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox-media overlay text-center" href="https://player.vimeo.com/video/145241713">
						<div class="overlay-inner">
						<h4 class="base">Mobile Designs</h4>
                  <div class="line"></div>
						<p>Latest Apps</p>
                  </div>
					</a>
                    <img src="{% static 'images/workimg4.jpg' %}" alt="work">
                  </div>
                </div>
              </div>
              <div class="col-2-4 mix work-item" style="display: inline-block;">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="{% static 'images/workimg5.jpg' %}">
						<div class="overlay-inner">
						<h4 class="base">Print Designs</h4>
                  <div class="line"></div>
						<p>Elements</p>
                  </div>
					</a>
                    <img src="{% static 'images/workimg5.jpg' %}" alt="work">  </div>
                </div>
              </div>
          </div>
         
              <div class="col-1-4 mix work-item graphic" style="display: inline-block;">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="{% static 'images/workimg2.jpg' %}">
						<div class="overlay-inner">
						<h4 class="base">Modern Workspace</h4>
                  <div class="line"></div>
						<p>Workstations</p>
                  </div>
					</a>
                    <img src="{% static 'images/workimg2.jpg' %}" alt="work">
                  </div>
                </div>
              </div>
              <div class="col-1-4 mix work-item design" style="display: inline-block;">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="{% static 'images/workimg3.jpg' %}">
						<div class="overlay-inner">
						<h4 class="base">Elegant Images</h4>
                  <div class="line"></div>
						<p>Laptops</p>
                  </div>
					</a>
                    <img src="{% static 'images/workimg3.jpg' %}" alt="work">  </div>
                </div>
              </div>
              <div class="col-1-2 mix work-item graphic" style="display: inline-block;">
          <div class="wrap-col">
              <div class="item-container"> 
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="{% static 'images/workimg6.jpg' %}">
						<div class="overlay-inner">
						<h4 class="base">Photography</h4>
                  <div class="line"></div>
						<p>Stock Collection</p>
                  </div>
					</a>
                <img src="{% static 'images/workimg6.jpg' %}" alt="work">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Testinomials -->
<div style="position:relative;">
<section id="testinomial" class="padding" style="background-position: 50% -125px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">People Love Our Work</p>
        <h2 class="heading">our happy clients</h2>
        <div id="testinomial-slider" class="owl-carousel owl-theme">
        <div class="item">
            <p>Users do not differentiate between channels and as a brand it is up to us to deliver a seamless messaging experience, wherever our users are.Using Dailymails advanced user analytics and engagement platforms (push, in-app & web push), we have been able to deliver on the promise of a truly cross-channel 
experience to our users thereby impacting our business positively. </p>
            <h5>Aditya, - CTO, TimesInternet</h5>
            <img src="{% static 'images/stars.png' %}" alt="Dailymails Email Validation star rating"> </div>
<div class="item">
            <p>
As a digital content service provider, Dailymails Web Push has significantly increased our ability to send targeted notifications to our users. I can push breaking news articles specifically to cricket enthusiasts while send tactical football analysis to users who relate to those. </p>
            <h5>DeenDayal - CEO, DaynightIndia</h5>
            <img src="{% static 'images/stars.png' %}" alt="Dailymails Email Validation star rating"> </div>


</div>
 </div>
          
      </div>
</div>

</section>
</div>
{% endcomment %}

{% comment %}
<!-- Latest Publications -->
<section id="publication" class="section-padding padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">Stay always updated</p>
        <h2 class="heading">Our Publications</h2>
      </div>
    </div>
    <div class="row">
      <div id="publication-slider" class="owl-carousel owl-theme">
        <div class="item"> 
          <div class="image">
           <a href="http://www.themesindustry.com/html/bizone/blog_detail.html"><img src="{% static 'images/publication1.jpg' %}" alt="publication Image"></a>
          </div>
          <h5>18 November 2015</h5>
          <h4>Familiar idea with brand</h4>
          <p>by <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="name">Smith </a> - <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="comment">5 Comments</a></p>
          <p>Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
          <a href="http://www.themesindustry.com/html/bizone/blog.html">read more</a> 
        </div>
<div class="item"> 
          <div class="image">
          <a href="http://www.themesindustry.com/html/bizone/blog_detail.html"><img src="{% static 'images/publication2.jpg' %}" alt="publication Image"></a>
          </div>
          <h5>18 November 2015</h5>
          <h4>Familiar idea with brand</h4>
          <p>by <a href="http://www.themesindustry.com/html/bizone/blog_detail.html" class="name">Smith </a> - <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="comment">5 Comments</a></p>
          <p>Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
          <a href="http://www.themesindustry.com/html/bizone/blog.html">read more</a>  
        </div>
<div class="item"> 
          <div class="image">
          <a href="http://www.themesindustry.com/html/bizone/blog_detail.html"><img src="{% static 'images/publication3.jpg' %}" alt="publication Image"></a>
          </div>
          <h5>18 November 2015</h5>
          <h4>Familiar idea with brand</h4>
          <p>by <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="name">Smith </a> - <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="comment">5 Comments</a></p>
          <p>Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
          <a href="http://www.themesindustry.com/html/bizone/blog_detail.html">read more</a>  
        </div>
<div class="item"> 
          <div class="image"><a href="http://www.themesindustry.com/html/bizone/blog_detail.html"><img src="{% static 'images/publication1.jpg' %}" alt="publication Image"></a></div>
          <h5>18 November 2015</h5>
          <h4>Familiar idea with brand</h4>
          <p>by <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="name">Smith </a> - <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="comment">5 Comments</a></p>
          <p>Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
          <a href="http://www.themesindustry.com/html/bizone/blog.html">read more</a>  
        </div>
<div class="item"> 
          <div class="image">
          <a href="http://www.themesindustry.com/html/bizone/blog_detail.html"><img src="{% static 'images/publication2.jpg' %}" alt="publication Image"></a>
          </div>
          <h5>18 November 2015</h5>
          <h4>Familiar idea with brand</h4>
          <p>by <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="name">Smith </a> - <a href="http://www.themesindustry.com/html/bizone/index5.html#." class="comment">5 Comments</a></p>
          <p>Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
          <a href="http://www.themesindustry.com/html/bizone/blog.html">read more</a>  
        </div>

</div></div>
        
        
        
        
    </div>
  </div>
</section>



<section id="slogan" class="wow fadeIn animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeIn;"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="hidden">hiddens</h5>
        <p class="pull-left">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
        <a class="pull-right bounce-top" href="http://www.themesindustry.com/html/bizone/index5.html#.">get in touch</a> </div>
    </div>
  </div>
</section>
{% endcomment %}
<!-- Contact Us -->
<section class="info-section" id="contact">
  <div class="row">
    <div class="col-md-6 block text-center wow fadeInLeftBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeftBig;">
      <div class="center">
        <p class="title">Open for you</p>
        <h2>We're here</h2>
       {% comment %} <p class="margen">Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
        {% endcomment %}
	
	      
	 <p><strong>Skype:</strong> sales_69594 </p>
	 {% comment %}<p><strong>Phone:</strong> 00 - 91 - 9818966660</p>
	 <p><strong>Whatsapp:</strong> 00 - 91 - 9818966660</p>
	      {% endcomment %}
        <p><strong>Email:</strong> <a href="mailto:sales@dailymails.org">sales@dailymails.org</a></p>
        
	 
        <ul class="social-link">
         {% comment %} <li><a href="https://www.facebook.com/dailymails.org/" class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
          <li><a href="https://twitter.com/Daily_mails" class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
          <li><a href="https://www.linkedin.com/company/daily_mails/" class="text-center"><i class="fa fa-linkedin"></i><span></span></a></li>
          <li><a href="javascript:void(0)" class="text-center"><i class="fa fa-flickr"></i><span></span></a></li>{% endcomment %}

        </ul>
      </div>
    </div>
    <div class="col-md-6 block light text-center wow fadeInRightBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInRightBig;">
      <div class="center">
        <p class="title">With propositions</p>
        <h2>Contact Us</h2>
       <form class="form-inline" id="contact-form" name="contact-form">
          <div class="row">
              {% csrf_token %}
            <div class="col-md-12 center">
                            <div class="alert alert-info alert-dismissable" role="alert" style="display:none">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
                            <i class="fa fa-2x fa-rocket"></i>Thanks for contacting us, We will back soon.
                            </div>
                            <div class="alert alert-warning alert-dismissable" role="alert" style="display:none">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
                            <i class="fa fa-2x fa-rocket"></i>Something wrong happen,Please try again.
                            </div>
            </div>
          </div>

          
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="Your Name" name="name" id="name" required="">
            </div>
	    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="SkypeID (Not Required for India)" name="skypeid" id="skypeid">
            </div>
		   <div class="col-md-6 col-sm-12 col-xs-12 form-group">
		  <select class="form-control" id="country" name="country">
        {% for c in country_list %}
             <option value="{{ c.id }}" {% ifequal c.name "India" %} selected {% endifequal %} >{{ c.name }} +{{ c.ccd }}</option>
        {% endfor %}
        </select>
		  </div>
	    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="WhatsApp Number" name="whatsapp_number" id="whatsapp_number" required="">
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="email" class="form-control" placeholder="E-mail Address" name="email" id="email" required="">
              <input type="hidden" value="1" name="page">
            </div>
		 
            
		  
	    
            
            <div class="col-xs-12 col-md-12">
              <textarea placeholder="Message..." class="form-control" name="message" id="message"></textarea>
              <button type="submit" class="btn-black btn-blue bounce-green" id="btn_contact_submit"> Send Message </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>
<script type="text/javascript">
	$(function(){
        $(".typed").typed({
					strings: ["Use Dailymails CRMPlus, ", "Convert Leads in Business, ", "Advertise Your Brands, ", "Monetize Your Traffic, ", "Convert Your Users, ", "Retain Your Users, ", "Grow Your Users, ", "Send Omni Notifications, ", "Use Marketing Automation, "],
					typeSpeed: 100,
					loop: true,
					startDelay: 1000,
					backDelay: 1000
				});
    });
</script>
{% endblock %}
