{% extends "admin_base.html" %}
{% block title %} Add Currency {% endblock %}

{% block content-wrapper %}


<div class="content-wrapper" style="min-height: 903px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add Currency
    </h1>
    <ol class="breadcrumb">
      <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/mysite/invoicesetting/currency/">My Currency</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- right column -->
      <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Currency Details</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" id="gstform" name="gstform" method="POST" action="">
            {% csrf_token %}

            <div class="box-body">
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <span class="error-message error" style="display:none">

                  </span>
                </div>
              </div>



              <div class="form-group">
                <label class="col-sm-3 control-label" for="currency_code">Currency Code</label>
                <div class="col-sm-9">
                  <select class="form-control" id="currency_code" name="currency_code" required>
                    {% for c in currencycode %}
                    <option value="{{ c.0 }}" {% ifequal c.0 cur.currency_code %} selected="selected" {% endifequal %}>
                      {{ c.1 }}</option>

                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="currency_symbol">Currency Symbol</label>
                <div class="col-sm-9">
                  <select class="form-control" id="currency_symbol" name="currency_symbol" required>
                    {% for c in currencysymbol %}
                    <option value="{{ c.0 }}" {% ifequal c.0 cur.currency_symbol %} selected="selected" {% endifequal %}>
                      {{ c.1 }}</option>

                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="decimal_places">Decimal Places</label>
                <div class="col-sm-9">
                  <select class="form-control" id="decimal_places" name="decimal_places" required>
                    {% for c in decimalplaces %}
                    <option value="{{ c.0 }}" {% ifequal c.0 cur.decimal_places %} selected="selected" {% endifequal %}>
                      {{ c.1 }}</option>

                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="choose_format">Choose Format</label>
                <div class="col-sm-9">
                  <select class="form-control" id="choose_format" name="choose_format" required>
                    {% for c in formating %}
                    <option value="{{ c.0 }}" {% ifequal c.0 cur.choose_format %} selected="selected" {% endifequal %}>
                      {{ c.1 }}</option>

                    {% endfor %}

                  </select>
                </div>
              </div>

              <!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-default" type="reset">Reset</button>
                <button class="btn btn-info pull-right" type="submit" id="sender_button">Add</button>
              </div>
              <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>



  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}