{% extends "admin_base.html" %}
{% block title %} Your Currency || Dashboard {% endblock %}
{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">


    <section class="content-header">
        <h1>
            Currency
        </h1>
        <ol class="breadcrumb">
            <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Currency</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <!-- Left col -->
            <section class="col-sm-12 connectedSortable ui-sortable">
                <!-- Custom tabs (Charts with tabs)-->

                <!-- /.nav-tabs-custom -->

                <!-- Chat box -->

                <!-- /.box (chat box) -->

                <!-- TO DO List -->
                
                <div class="box box-primary">
                    {% if currency %}
                    <div class="box-header ui-sortable-handle" style="cursor: move;">

                        <h3 class="box-title"> Currency Details</h3>
                        <a href="/mysite/invoicesetting/currency/create/" class="pull-right btn btn-primary">
                            <i class="fa fa-plus-circle"></i>
                            <h3 class="box-title">Add Currency</h3>
                        </a>
                    </div>
                    {% else %}
                    <div class="box-header ui-sortable-handle" style="cursor: move;">

                        <h3 class="box-title"> Currency Details</h3>
                        <a href="/mysite/invoicesetting/currency/create/" class="pull-right btn btn-primary">
                            <i class="fa fa-plus-circle"></i>
                            <h3 class="box-title">Add Currency</h3>
                        </a>
                    </div>

                    {% endif %}
                        <!-- /.box-header -->
                        <div class="box-body no-padding">

                            <table class="table">
                                <tbody>
                                    {% if currency %}
                                    <tr>
                                        <th>Currency Code</th>
                                        <th>Currency Symbol</th>
                                    </tr>
                                    {% for currency in currency %}
                                    <tr>

                                        <td>
                                            {{ currency.get_currency_code_display }}
                                        </td>
                                        <td>
                                            {{ currency.get_currency_symbol_display }}
                                        </td>
                                        <td><div>
                                            <a href="/mysite/invoicesetting/currency/edit/{{currency.id}}/" style="color: inherit"><i class="fa fa-edit"></i></a>
                                            <a style="color:inherit" href="/mysite/invoicesetting/currency/delete/{{currency.id}}/"
                                              onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></a>
                                          </td></div>
                                        

                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td>
                                            No currency found.
                                        </td>
                                    </tr>
                                    {% endif %}


                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->

                    <!-- quick email widget -->


            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->

            <!-- right col -->
        </div>
        <!-- /.row -->


    </section>




    <!-- /.content -->
</div>
<!-- /.content-wrapper -->





{% endblock %}