{% extends "home.html" %}
{% block main %}
<!-- Contact Us -->
<section class="info-section" id="contact">
  <div class="row">
    <div class="col-md-6 block text-center wow fadeInLeftBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeftBig;">
      <div class="center">
        <p class="title">Open for you</p>
        <h2>We're here</h2><p><strong>Skype:</strong> sales_69594 </p>
	      
        <p><strong>Email:</strong> <a href="mailto:sales@dailymails.org">sales@dailymails.org</a></p>
        
{% comment %}
        <ul class="social-link">
          <li><a href="https://www.facebook.com/dailymails.org/" class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
          <li><a href="https://twitter.com/Daily_mails" class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
          <li><a href="https://www.linkedin.com/company/daily_mails/" class="text-center"><i class="fa fa-linkedin"></i><span></span></a></li>
   
        </ul>
{% endcomment %}
      </div>
    </div>
   <div class="col-md-6 block light text-center wow fadeInRightBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInRightBig;">
      <div class="center">	      
        <h2>Reset Password</h2>
       <form class="form-inline" id="forgotpassword-form" name="forgotpassword-form" action="" method="POST">
          <div class="row">
              {% csrf_token %}
            <div class="col-md-12 center">
                     {% if msg %}       
                            <div class="alert alert-info alert-dismissable" role="alert">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
                            <i class="fa fa-2x fa-rocket"></i></i>{{ msg|safe }}
                            </div>
		  {% endif %}
            </div>
          </div>


          <div class="row">
           
            
		  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="email" class="form-control" placeholder="Email" name="email" id="email" required="">
            </div>
		  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="Username" name="username" id="username" required="">
            </div>
            <div class="col-xs-12 col-md-12">
              <button type="submit" class="btn-black btn-blue bounce-green" id="forgotpasswordbutton"> Submit </button>
            </div>
          </div>
        </form>
	   <p class="title form-inline">Don't have Dailymails.org account? <a href="/accounts/register/site/">SignUp Now</a> | Return To <a href="/accounts/signin/" >Login</a> </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}