{% extends "home.html" %}
{% block main %}
<!-- Contact Us -->
<section class="info-section" id="contact">
  <div class="row">
    <div class="col-md-6 block text-center wow fadeInLeftBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeftBig;">
      <div class="center">
        <br><br><br>
        <h4>Create your free account today!</h4>
  <br><br>
  <h3>No contract. No credit card required.</h3><br><br>
  <h4>Register with us and send </h4>
          <br>
      <br>

          <p class="title"><strong>  Omni-Channel (Email, SMS & Push) Notifications in a minute. </strong></p>
  {% comment %} <p><strong>Phone:</strong> 00 - 91 - 9818966660</p>
	 <p><strong>Whatsapp:</strong> 00 - 91 - 9818966660</p>
	      
        

        <ul class="social-link">
          <li><a href="https://www.facebook.com/dailymails.org/" class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
          <li><a href="https://twitter.com/Daily_mails" class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
          <li><a href="https://www.linkedin.com/company/daily_mails/" class="text-center"><i class="fa fa-linkedin"></i><span></span></a></li>
   
        </ul>{% endcomment %}
      </div>

    </div>
   <div class="col-md-6 block light text-center wow fadeInRightBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInRightBig;">
      <div class="center">	      
        {% comment %}<h2>Register With Us</h2>{% endcomment %}
        <p class="title text-danger"><b>Register With Us to start Customer Engagement today!</b></p>
       <form class="form-inline" method="post" id="site-registration-form">
          <div class="row">
              {% csrf_token %}
            <div class="col-md-12 center">
                     
      <div class="alert alert-success alert-dismissable hidden" role="alert">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
        <i class="fa fa-2x fa-rocket"></i>Thank You! You have been successfully registerd with dailymails.org.Please visit Your Site <b><a style="color: black;" target="_blank" href=""></a> </b>to start campaigning.
      </div>
      <div class="alert alert-info alert-dismissable hidden" role="alert">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
        <i class="fa fa-2x fa-rocket"></i>Below mentioned username and email is not available, Please try from different one.
        </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="User Name" name="username" id="username" required="">
            </div>
	    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="email" class="form-control" placeholder="Email" name="email" id="email" required="">
            </div>
	   <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="Skype ID ( Not Required for India)" name="skypeid" id="skypeid" >
            </div>
	   <div class="col-md-12 col-sm-12 col-xs-12 form-group">
		  <select class="form-control" id="country" name="country">
        {% for c in country_list %}
             <option value="{{ c.id }}" {% ifequal c.name "India" %} selected {% endifequal %} >{{ c.name }} +{{ c.ccd }}</option>
        {% endfor %}
        </select>
        </div>
	   <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="Mobile" name="mobile" id="mobile" required="">
            </div>
	   <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="password" class="form-control" placeholder="Password" name="password" id="password" required="">

       </div>
            <div class="col-xs-12 col-md-12">
              <button type="submit" class="btn-black btn-blue bounce-green" id="registrationbutton"> Register </button>
            </div>
          </div>
        </form>
<p class="title form-inline">Already have Dailymails.org account? <a href="/accounts/signin/">Login</a> Now </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

