{% extends "home.html" %}
{% block main %}
<!-- Contact Us -->
<section class="info-section" id="contact">
  <div class="row">
    <div class="col-md-6 block text-center wow fadeInLeftBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeftBig;">
      <div class="center">
        <p class="title">Open for you</p>
        <h2>We're here</h2><p><strong>Skype:</strong> sales_69594 </p>
	      
        <p><strong>Email:</strong> <a href="mailto:sales@dailymails.org">sales@dailymails.org</a></p>
	{% comment %} <p><strong>Phone:</strong> 00 - 91 - 9818966660</p>
	 <p><strong>Whatsapp:</strong> 00 - 91 - 9818966660</p>
	      
        

        <ul class="social-link">
          <li><a href="https://www.facebook.com/dailymails.org/" class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
          <li><a href="https://twitter.com/Daily_mails" class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
          <li><a href="https://www.linkedin.com/company/daily_mails/" class="text-center"><i class="fa fa-linkedin"></i><span></span></a></li>
   
        </ul>{% endcomment %}
      </div>
    </div>
   <div class="col-md-6 block light text-center wow fadeInRightBig animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInRightBig;">
      <div class="center">	      
        <h2>SignIn</h2>
       <form class="form-inline" id="new-login-form" name="new-login-form" action="/accounts/signin/" method="POST">
          <div class="row">
              {% csrf_token %}
            <div class="col-md-12 center">
                     {% if request.GET.msg %}       
                            <div class="alert alert-info alert-dismissable" role="alert">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <i class="fa fa-2x fa-rocket"></i></i>{{ request.GET.msg }}
                            </div>
		  {% endif %}
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control" placeholder="User Name" name="username" id="username" required="">
            </div>
            
		  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
              <input type="password" class="form-control" placeholder="Password" name="password" id="password" required="">
            </div>
            <div class="col-xs-12 col-md-12">
              <button type="submit" class="btn-black btn-blue bounce-green" id="newloginbutton"> Sign In </button>
            </div>
          </div>
        </form>
	   <p class="title form-inline">Don't have Dailymails.org account? <a href="/accounts/register/site/">SignUp Now</a> | I <a href="/accounts/forgot/password/">Forgot</a> My Password</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
