{% extends "admin_base.html" %}
{% load staticfiles %}
{% block title %}  Usage {% endblock %}
{% block extracss %} 

<link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
{% endblock %}
{% block content-wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Usage
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">All Usage</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
     <div class="row">
     <div class="col-md-12">
        <div class="box">
        <div class="box-header">
          <div class="col-sm-3 col-xs-4 btn-group pull-left">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <h3 class="box-title"> {% if request.GET.product == "1" %} Marketing Email {% elif request.GET.product == "2" %} Transactional Email {% else %} All Product {% endif %} <span class="caret"></span> </h3>
                </button>
              <ul class="dropdown-menu">
                {% if request.GET.fromdate and request.GET.todate %}
                <li><a href="/mysite/accounts/usage/"> <i class="fa fa-list"></i> All Product</a></li>
                <li><a href="/mysite/accounts/usage/?product=1&fromdate={{ request.GET.fromdate }}&todate={{request.GET.todate}}"> <i class="fa fa-list"></i> Marketing Email</a></li>
                <li><a href="/mysite/accounts/usage/?product=2&fromdate={{ request.GET.fromdate }}&todate={{request.GET.todate}}"> <i class="fa fa-list"></i> Transactional Email</a></li>
                 {% else %}
                  
                <li><a href="/mysite/accounts/usage/"> <i class="fa fa-list"></i> All Products</a></li>
                <li><a href="/mysite/accounts/usage/?product=1"> <i class="fa fa-list"></i> Marketing Email</a></li>
                <li><a href="/mysite/accounts/usage/?product=2"> <i class="fa fa-list"></i> Transactional Email</a></li>
                 
                  {% endif %}                
              </ul>    
              </div>
              </div>
        
          <div class="box-header">
            
              <div class="col-xs-5 col-sm-4"><input type="text" class="form-control" id="fromdatepicker" name="fromdatepicker" placeholder="From Date" value="{{ request.GET.fromdate }}" ></div>
            
              <div class="col-xs-5 col-sm-4"><input type="text" placeholder="To Date" class="form-control" id="todatepicker" name="todatepicker"  value="{{ request.GET.todate }}" ></div>
            
              <div class="col-xs-2 col-sm-4"><a class="btn btn-primary" id="usagedatefilter"><i class="fa fa-filter"></i>
              <h3 class="box-title hidden-xs">  Search  </h3></a>
           
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                  {% if usage %}
                  <tr>
                  <th>Product</th>
                  <th>Date</th>                  
                  <th>Quantity</th>
                </tr>
                  {% endif %}
                  {% for u in usage %}
                <tr>
                  
                  <td>{{ u.product.name }}</td>
                  <td>{{ u.date }}</td>
                  <td>{{ u.quantity }}</td>
                           
                  
                  
                  </tr>
                  {% empty %}
                  <tr><td colspan="3">No Usage Found for this account.</td></tr>
                  {% endfor %}
                 
                  {% if usage %}
                   <tr><td colspan="2"><b>Total Usage</b></td><td><b> {{ total_quantity }} </b></td></tr>
                   
                  {% endif %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
            {% if usage %}
            <div class="box-footer clearfix no-border">
              <!--<button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>-->

              
               <div class="box-tools pull-right">
                <ul class="pagination pagination-sm inline">
                  {% if usage.has_previous %}
                  {% if request.GET.fromdate and request.GET.todate %}
                  <li><a href="?page={{ usage.previous_page_number }}&fromdate={{ request.GET.fromdate }}&todate={{ request.GET.todate }}&product={{ request.GET.product }}">&laquo;</a></li>
                  {% else %}
                  <li><a href="?page={{ usage.previous_page_number }}&product={{ request.GET.product }}">&laquo;</a></li>
                  {% endif %}
                  {% endif %}
                  <li class="current"><a href="#">{{ usage.number }}</a></li>
                  <!--
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>-->
                  {% if usage.has_next %}
                  {% if request.GET.fromdate and request.GET.todate %}
                  <li><a href="?page={{ usage.next_page_number }}&fromdate={{ request.GET.fromdate }}&todate={{request.GET.todate}}&product={{ request.GET.product }}">&raquo;</a></li>
                  {% else %}
                  <li><a href="?page={{ usage.next_page_number }}&product={{ request.GET.product }}">&raquo;</a></li>
                  {% endif %}
                  {% endif %}
                </ul>
              </div>
            </div>
      {% endif %}
            
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
          
          
          
          
        </div>
        
        
        
        
        
      </div>
      <!-- /.row -->


    </section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}
{% block extrascript %}

<script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<script>
  $(function () {    
    //Date picker
    $('#fromdatepicker').datepicker({
      autoclose: true,
      format: 'yyyy-mm-dd',
      todayHighlight: true
    });
    $('#todatepicker').datepicker({
      autoclose: true,
      format: 'yyyy-mm-dd',
      todayHighlight: true
    })
$("#usagedatefilter").click(function(){
 if( !$('#fromdatepicker').val())
 {
 alert("Please choose From Date ");
 return;
 }
 else if ( !$('#todatepicker').val())
 {
 alert("Please choose To Date ");
 return;
 }
else{
 {% if request.GET.product %}
 document.location="?product={{ request.GET.product }}&fromdate="+$('#fromdatepicker').val()+"&todate="+$('#todatepicker').val();
 {% else %}
 document.location="?fromdate="+$('#fromdatepicker').val()+"&todate="+$('#todatepicker').val();
 {% endif %}
}
});
  
  })
</script>
{% endblock %}
