{% extends "admin_base.html" %}
{% block title %} Product Detail {% endblock %}
{% load staticfiles %}

{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Product Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/invoice/listing/">Product List</a></li>
            <li>Product Details</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <h3 class="box-title">Product Detail</h3>
                        <span class="pull-right">
                           {% if obj.status != 4 %}<a class=""
                                                        href="#"></a>
                            <a class="btn btn-success btn-sm" href="/mysite/product/update/{{obj.slug}}">Edit</a>{% endif %}
                            <a class="btn btn-sm btn-danger" href="/mysite/product/delete/{{obj.id}}/">Delete</a>
                     </span>
                    </div>


                    <div class="box-body no-padding">
                        <table class="table">


                            <tr>
                                <td><b>Product Type</b></td>
                                <td>{{ obj.get_product_type_display }}</td>
                            </tr>
                            <tr>
                                <td><b>Name</b></td>
                                <td>{{ obj.name }}</td>
                            </tr>
                            <tr>{% if obj.Units != 0 %}
                                <td><b>Units</b></td>
                                <td>{{ obj.get_unit_display }}</td>
                                {% endif %}
                            </tr>
                            <tr>{% if obj.Sku != 0 %}
                                <td><b>Sku</b></td>
                                <td>{{ obj.sku }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><b>Selling Price</b></td>
                                <td>{{ obj.selling_price}}</td>

                            </tr>
                            <tr>
                                <td><b>Description</b></td>
                                <td>{{ obj.description}}</td>

                            </tr>


                        </table>
                     </div>




                </div>
            </div>
        </div>

        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
