{% extends "admin_base.html" %}
{% block title %} Product List {% endblock %}
{% block content-wrapper %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Product
        </h1>
        <ol class="breadcrumb">
            <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Product</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">

                        <a class="pull-right btn btn-xs btn-primary" href="/mysite/product/add/"><i class="fa fa-plus"></i>
                            <h3 class="box-title" style="font-size:22px !important;"> Add</h3></a>

                        <div class="box-tools">
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Product Type </th>
                                <th>Product Name </th>
                                <th>Unit</th>
                                <th>Selling Price</th>
                            </tr>
                            {% for product in obj %}
                            <tr>
                                <td>{{ product.get_product_type_display}}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.get_unit_display }}</td>
                                <td>{{ product.selling_price }}</td>
                                <td>
                                    <div class="tools">
                                        <a style="color:inherit"
                                           href="/mysite/product/detail/{{product.slug}}/"
                                           target="_blank"><i class="fa fa-eye"></i></a>
                                        <a href="/mysite/product/update/{{product.slug}}/"
                                           style="color: inherit"><i class="fa fa-edit"></i></a>
                                        <a style="color:inherit"
                                           href="/mysite/product/delete/{{product.id}}/"
                                           onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></a>

                                    </div>

                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9">No Product Found.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->


    </section>
    </div>
{% endblock %}