{% extends "admin_base.html" %}

{% block title %} PRODUCTS {% endblock %}
{% load staticfiles %}
{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Products
        </h1>
        <ol class="breadcrumb">
            <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Product</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <!-- right column -->
            <div class="col-md-12">
                <div class="box-body no-padding">
                    <div class="box-header with-border">
                        <table class="table">


                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <!-- /.box-header -->
                                    <form method="post" action="{% if obj  %}/mysite/product/update/{{ obj.slug }}/{% else %}/mysite/product/add/{% endif %}">
                                        {% csrf_token %}
                                        <div class="col-md-6">


                                            <div class="form-group">
                                                <label class="control-label" for="name"> Name*</label>
                                                <input type="text" class="form-control" id="name" name="name" placeholder=" Name" value="{{ obj.name }}" >
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="product_type">Product Type</label>
                                                <select class="form-control" id="product_type"  name="product_type">
                                                    {% for c in product_type %}
                                                    <option value="{{ c.0 }}" {% ifequal c.0 obj.product_type %}
                                                            selected="selected" {% endifequal %}>{{ c.1 }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                                <!--                        <input type="text" class="form-control" id="product_type" name="product_type" placeholder="Product Type" value="{{ customerdetails.first_name }}" >-->
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="selling_price">Selling Price</label>
                                                <input type="text" class="form-control" id="selling_price" name="selling_price" placeholder="Selling Price" value="{{ obj.selling_price }}" >
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="sku">SKU</label>
                                                <input type="text" class="form-control" id="sku" name="sku" placeholder="SKU" value="{{ obj.sku }}" >
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="unit">Unit</label>
                                                <select class="form-control" id="unit"  name="unit">
                                                    {% for c in unit %}
                                                    <option value="{{ c.0 }}" {% ifequal c.0 obj.product_type %}
                                                            selected="selected" {% endifequal %}>{{ c.1 }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                                <!--                  <input type="text" class="form-control" id="unit" name="unit" placeholder="unit" value="{{ customerdetails.first_name }}" >-->
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label" for="description">Description</label>
                                                <input type="text" class="form-control" id="description" name="description" placeholder="Description" value="{{obj.description }}" >
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>

</section>

</div>

{% endblock %}



