{% extends "admin_base.html" %}
{% block title %} Add Tax {% endblock %}

{% block content-wrapper %}

<div class="content-wrapper" style="min-height: 903px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Add GST Details
    </h1>
    <ol class="breadcrumb">
      <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/mysite/invoicesetting/gst/">My GST</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- right column -->
      <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">GST Details</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" id="gstform" name="gstform" method="POST" action="">
            {% csrf_token %}

            <div class="box-body">
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <span class="error-message error" style="display:none">

                  </span>
                </div>
              </div>




              <div class="form-group">
                <label class="col-sm-3 control-label" for="gstin">GSTIN</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="GSTIN" id="gstin" name="gstin" value="{{gst.gstin}}"
                    class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="gstdate">Registration Date</label>
                <div class="col-sm-9">
                  <input type="date" placeholder="Date of Registration" id="gstdate" name="gstdate"
                    value="{{gst.gstdate|date:'Y-m-d'}}" class="form-control"  required>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label" for="compositionscheme">Composition Scheme </label>
                <div class="col-sm-9">
                  <select class="form-control" id="compositionscheme" name="compositionscheme" required>
                    

                    {% for c in compositescheme %}
                    <option value="{{ c.0 }}" {% ifequal c.0 gst.compositionscheme %} selected="selected"
                      {% endifequal %}>{{ c.1 }}</option>

                    {% endfor %}


                  </select>
                </div>
              </div>

              <!-- {% ifequal s.0 gst.compositescheme.0 %} selected="selected" {% endifequal %} -->


              <!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-default" type="reset">Reset</button>
                <button class="btn btn-info pull-right" type="submit" id="sender_button">Submit</button>
              </div>
              <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>



  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}