{% extends "admin_base.html" %}
{% block title %} GST Details || Dashboard {% endblock %}
{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">


  <section class="content-header">
    <h1>
      GST Details
    </h1>
    <ol class="breadcrumb">
      <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">GST</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <!-- Left col -->
      <section class="col-sm-12 connectedSortable ui-sortable">
        <!-- Custom tabs (Charts with tabs)-->

        <!-- /.nav-tabs-custom -->

        <!-- Chat box -->

        <!-- /.box (chat box) -->

        <!-- TO DO List -->
        <div class="box box-primary">
          <div class="box-header ui-sortable-handle" style="cursor: move;">

            <h3 class="box-title"> GST Details</h3>
            <a href="/mysite/invoicesetting/gst/create/" class="pull-right btn btn-primary">
              <i class="fa fa-plus-circle"></i>
              <h3 class="box-title">Add GST</h3>
            </a>


          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">

            <table class="table">
              <tbody>
                {% if gstdetails %}
                <tr>
                  <th>GSTIN</th>
                  <th>GST Registration Date</th>
                  <th>Composition Scheme</th>
                  <th>#</th>
                </tr>
                {% for gstdetails in gstdetails %}
                <tr>

                  <td>
                    {{ gstdetails.gstin }}
                  </td>
                  <td>
                    {{ gstdetails.gstdate }}
                  </td>
                  <td>
                    {{ gstdetails.get_compositionscheme_display }}
                  </td>
                  <td><div>
                    <a href="/mysite/invoicesetting/gst/edit/{{gstdetails.id}}/" style="color: inherit"><i class="fa fa-edit"></i></a>
                    <a style="color:inherit" href="/mysite/invoicesetting/gst/delete/{{gstdetails.id}}/"
                      onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></a>
                  </td></div>

                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td>
                    No gst details found.
                  </td>
                </tr>
                {% endif %}


              </tbody>
            </table>
          </div>
          <!-- /.box-body -->

        </div>
        <!-- /.box -->

        <!-- quick email widget -->


      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->

      <!-- right col -->
    </div>
    <!-- /.row -->


  </section>




  <!-- /.content -->
</div>
<!-- /.content-wrapper -->





{% endblock %}