{% extends "admin_base.html" %}
{% load staticfiles %}
{% block title %} CouponCode & Offers {% endblock %}
{% block content-wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        CouponCode & Offers
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">My CouponCode</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
     <div class="row">
     <div class="col-md-12">
        <div class="box">
      <!--
          <div class="box-header">
            </div>-->
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                <tr>
                  <th>Coupon Code</th>
                  <th>Discount</th>                  
                  <th>Products</th>
				  <th>Plan</th>
				  <th>Conditions</th>
                </tr>
                
             <tr>
                  <td> Not Required </td>
                  <td> {{ discount_6_mon }}% </td>
                  <td> All </td>
				  <td> All </td>
				  <td> Prepay for 6 Months  </td>
             </tr>
             
                <tr>
                  <td> Not Required </td>
                  <td> {{ discount_12_mon }}% </td>
                  <td> All </td>
				  <td> All </td>
				  <td> Prepay for 12 Months </td>
             </tr>
                
            {% for cp in coupons %}
            <tr>
                  <td>{{ cp.coupon_code }}</td>
                  <td>{{ cp.discount }}%</td>
                  <td>{% if cp.coupon_type == "1"  %}  All {% else %} {{ cp.plan_or_category.get_plan_type_display }}{% endif %}</td>
				  <td>{% if cp.coupon_type == "1" or cp.coupon_type == "3" %}  All {% else  %} {{ cp.plan_or_category.name }}{% endif %}</td>
				  <td>{{ cp.get_condition_display }}</td>
             </tr>
                  {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
 </div>
</div>
      <!-- /.row -->
</section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}

