{% extends "admin_base.html" %}
{% block title %} Customers{% endblock %}

{% load staticfiles %}

{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
<h1>
Customers
</h1>
<ol class="breadcrumb">
<li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
<li><a href="/mysite/cutomer/"><i class="fa fa-user"></i> Customers</a></li>
<li class="active">{{ customerdetails.first_name }}</li>
</ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
<div class="col-md-12">
<div class="box box-primary">

<div class="box-header with-border">
<h3 class="box-title">{% if customerdetails %} Change {% else %} Add {% endif %} Customers</h3>
</div>
<!-- /.box-header -->
<form enctype="multipart/form-data" method="post" action="{% if customerdetails  %}/mysite/customer/update/{{ customerdetails.slug }}/{% else %}/mysite/customer/add/{% endif %}" >


<div class="box-body">
{% csrf_token %}
<div class="col-md-6">


<div class="form-group">
<label class="control-label" for="first_name">First Name*</label>
<input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" value="{{ customerdetails.first_name }}" >
</div>


<div class="form-group">
<label class="control-label" for="customer_type">Customer Type</label>
 <select class="form-control" id="customer_type"  name="customer_type">
{% for c in customer_type %}
<option value="{{ c.0 }}" {% ifequal c.0 customerdetails.customer_type %}
selected="selected" {% endifequal %}>{{ c.1 }}
</option>
{% endfor %}
</select>
</div>

<div class="form-group">
<label class="control-label" for="company_name">Company Name</label>
<input type="text" class="form-control" id="company_name" name="company_name" placeholder="Company Name" value="{{customerdetails.company_name  }}"  >
</div>
<div class="form-group">
<label class="control-label" for=" website">Website</label>
<input type="text" class="form-control" id=" website" name=" website" placeholder="Website" value="{{ customerdetails.website }}"  >
</div>
<div class="form-group">
<label class="control-label" for="email">Email*</label>
<input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ customerdetails.email }}" >
</div>

<div class="form-group">
<label class="control-label" for="phone">Phone*</label>
<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" value="{{ customerdetails.phone }}" >
</div>



<div class="form-group">
<label class="control-label" for="currency">Currency</label>
 <select class="form-control" id="currency" name="currency">
{% for c in currency %}
<option value="{{ c.0 }}" {% ifequal c.0 subuser.userdetail.currency %}
selected="selected" {% endifequal %}>{{ c.1 }}
</option>
{% endfor %}
</select>
<!--<input type="text" class="form-control" id="" name="mobile" placeholder="Currency" value="{{ subuser.userdetail.billing_zipcode }}" >-->
</div>
<div class="form-group">
<label class="control-label" for="payment_terms">Payment Terms</label>
  <select class="form-control" id="payment_terms"  name="payment_terms">
{% for c in payment_terms %}
<option value="{{ c.0 }}" {% ifequal c.0 subuser.userdetail.currency %}
selected="selected" {% endifequal %}>{{ c.1 }}
</option>
{% endfor %}
</select>
<!--<input type="text" class="form-control"  name="mobile" placeholder="Payment terms" value="{{ subuser.userdetail.billing_zipcode }}" >-->
</div>
<div class="form-group">
<label class="control-label" for="portal_language">Portal Language</label>
 <select class="form-control" id="portal_language"  name="portal_language">
{% for c in portal_language %}
<option value="{{ c.0 }}" {% ifequal c.0 subuser.userdetail.currency %}
selected="selected" {% endifequal %}>{{ c.1 }}
</option>
{% endfor %}
</select>
<!--<input type="text" class="form-control"  name="mobile" placeholder="Portal Language" value="{{ subuser.userdetail.billing_zipcode }}" >-->
</div>
<div class="form-group">
<label class="control-label" for="enable_portal">Enable Portal</label>
<input type="text" class="form-control" id="enable_portal"  name="enable_portal" placeholder="Enable Portal" value="{{ customerdetails.enable_portal }}" >
</div>
</div>
<div class="col-md-6">

<div class="form-group">
<label class="control-label" for="last_name">Last Name</label>
<input type="text" class="form-control" id="last_name"  name="last_name" placeholder="Last Name" value="{{ customerdetails.last_name}}" >
</div>


<!--<div class="form-group">-->
<!--<label class="control-label" for="country">Country</label>-->
<!--<input type="text" class="form-control"  name="mobile" placeholder="Last Name" value="{{ subuser.userdetail.last_name}}" >-->
<!--</div>-->




<div class="form-group">
<label class="control-label" for="billing_address">Billing Address</label>
<input type="text" class="form-control" id="billing_address" name="billing_address" placeholder="Address" value="{{ customerdetails.billing_address}}" >
</div>

<div class="form-group">
<label class="control-label" for="billing_country">Billing Country</label>
<!--<input type="text" class="form-control" id="billing_country" name="billing_country" placeholder="Country" value="{{ customerdetails.billing_country}}" >-->

 <select class="form-control" id="billing_country" name="billing_country">
{% for c in country %}-->
<option value="{{ c.id}}" {% ifequal c.id customerdetails.billing_country %}
selected="selected" {% endifequal %}>{{ c.name }}
</option>
{% endfor %}
</select>

</div>

<div class="form-group">
<label class="control-label" for="billing_state">Billing State</label>
<input type="text" class="form-control" id="billing_state" name="billing_state" placeholder="State" value="{{ customerdetails.billing_state }}" >
</div>

<div class="form-group">
<label class="control-label" for="billing_city">Billing City</label>
<input type="text" class="form-control"id="billing_city"  name="billing_city" placeholder="City" value="{{ customerdetails.billing_city }}" >
</div>


<div class="form-group">
<label class="control-label" for="shipping_country">Shipping Country</label>
<!--<input type="text" class="form-control" id="shipping_country" name="shipping_country" placeholder="Country" value="{{ customerdetails.shipping_country }}" >-->
<select class="form-control" id="shipping_country" name="shipping_country">
{% for c in country %}
<option value="{{ c.id}}" {% ifequal c.id customerdetails.billing_country %}
selected="selected" {% endifequal %}>{{ c.name }}
</option>
{% endfor %}
</select>
</div>

<div class="form-group">
<label class="control-label" for="shipping_state">Shipping State</label>
<input type="text" class="form-control" id="shipping_state" name="shipping_state" placeholder="state" value="{{ customerdetails.shipping_state}}" >
</div>
<div class="form-group">
<label class="control-label" for="shipping_city">Shipping City</label>
<input type="text" class="form-control" id="shipping_city"  name="shipping_city" placeholder="city" value="{{ customerdetails.shipping_city}}" >
</div>
<div class="form-group">
<label class="control-label" for="shipping_zipcode">Shipping Zipcode</label>
<input type="text" class="form-control" id="shipping_zipcode" name="shipping_zipcode" placeholder="Zipcode" value="{{customerdetails.shipping_zipcode }}" >
</div>
<div class="form-group">
<label class="control-label" for="shipping_address">Shipping Address</label>
<input type="text" class="form-control" id="shipping_address"  name="shipping_address" placeholder="Address" value="{{ customerdetails.shipping_address}}" >
</div>

</div>

</div>
<div class="box-footer">
<button class="btn btn-default" type="reset">Reset</button>
<button class="btn btn-info pull-right" type="submit" id="btn_customer_edit">Submit
</button>
</div>
</form>
</div>
</div>
<!-- /.col -->
</div>

</section>


<!-- Main content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
