{% extends "admin_base.html" %}
{% block title %} Customer Detail{% endblock %}
{% load staticfiles %}

{% block content-wrapper %}

<!-- Content Wrapper. Contains page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Customer Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/invoice/listing/">Customer List</a></li>
            <li>Customer Details</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <h3 class="box-title">Customer Detail</h3>
                        <span class="pull-right">
                           {% if obj.status != 4 %}<a class=""
                                                        href="#"></a>
                            <a class="btn btn-success btn-sm" href="/mysite/customer/update/{{obj.slug}}">Edit</a>{% endif %}
                            <a class="btn btn-sm btn-danger" href="/mysite/customer/delete/{{obj.id}}/">Delete</a>
<!--                            <a href="#" class="btn btn-sm btn-default">Clone</a>-->
                     </span>
                    </div>


                    <div class="box-body no-padding">
                        <table class="table">


                            <tr>
                                <td><b>Customer Type</b></td>
                                <td>{{ obj.get_customer_type_display }}</td>
                            </tr>
                            <tr>
                                <td><b> First Name</b></td>
                                <td>{{ obj.first_name }}</td>
                            </tr>
                            <tr>
                                <td><b>last Name</b></td>
                                <td>{{ obj.last_name }}</td>
                            </tr>
                            <tr>
                                <td><b> Company Name</b></td>
                                <td>{{ obj.company_name }}</td>
                            </tr>
                            <tr>
                                <td><b> Phone </b></td>
                                <td>{{ obj.phone }}</td>
                            </tr>
                            <tr>
                                <td><b> Email</b></td>
                                <td>{{ obj.email }}</td>
                            </tr>
                            <tr>
                                <td><b> Currency</b></td>
                                <td>{{ obj.currency }}</td>
                            </tr>
                            <tr>
                                <td><b> Portal Language</b></td>
                                <td>{{ obj.portal_language }}</td>
                            </tr>
                            <tr>
                                <td><b> Website</b></td>
                                <td>{{ obj.website }}</td>
                            </tr>
                            <tr>
                                <td><b> Payment Terms</b></td>
                                <td>{{ obj.payment_terms }}</td>
                            </tr>
                            <tr>
                                <td><b> Billing Country</b></td>
                                <td>{{ obj.billing_country}}</td>
                            </tr>
                            <tr>
                                <td><b> Billing State</b></td>
                                <td>{{ obj.billing_state }}</td>
                            </tr>
                            <tr>
                                <td><b> Billing City</b></td>
                                <td>{{ obj.billing_city}}</td>
                            </tr>
                            <tr>
                                <td><b> Billing  Zipcode</b></td>
                                <td>{{ obj.billing_zipcode }}</td>
                            </tr>

                            <tr>{% if obj.Units != 0 %}
                                <td><b>Shipping Country</b></td>
                                <td>{{ obj.shipping_country}}</td>
                                {% endif %}
                            </tr>
                            <tr>{% if obj.Sku != 0 %}
                                <td><b>Shipping State</b></td>
                                <td>{{ obj.shipping_state }}</td>
                                {% endif %}
                            </tr>
                            <tr>{% if obj.selling_price != 0 %}
                                <td><b>Shipping City</b></td>
                                <td>{{ obj.shipping_city}}</td>
                                {% endif %}
                            </tr>
                            <tr>{% if obj.Description != 0 %}
                                <td><b>Shipping Zipcode </b></td>
                                <td>{{ obj.shipping_zipcode}}</td>
                                {% endif %}
                            </tr>


                        </table>
                     </div>




                </div>
            </div>
        </div>

        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
