{% extends "admin_base.html" %}
{% block title %} Customer List {% endblock %}
{% block content-wrapper %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Customer
        </h1>
        <ol class="breadcrumb">
            <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Customer</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">

                        <a class="pull-right btn btn-xs btn-primary" href="/mysite/customer/add/"><i class="fa fa-plus"></i>
                            <h3 class="box-title" style="font-size:22px !important;"> Add</h3></a>

                        <div class="box-tools">
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>First Name </th>
                                <th>Last Name </th>
                                <th>Customer Type</th>
                                <th>Company</th>
                            </tr>
                            {% for p in obj %}
                            <tr>
                                <td>{{ p.first_name}}</td>
                                <td>{{ p.last_name }}</td>
                                <td>{{ p.get_customer_type_display }}</td>
                                <td>{{ p.company_name }}</td>
                                <td>
                                    <div class="tools">
                                        <a style="color:inherit"
                                           href="/mysite/customer/detail/{{p.id}}/"
                                           target="_blank"><i class="fa fa-eye"></i></a>

                                        <a href="/mysite/customer/update/{{p.slug}}/"
                                           style="color: inherit"><i class="fa fa-edit"></i></a>

                                        <a style="color:inherit"
                                           href="/mysite/customer/delete/{{p.id}}/"
                                           onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></a>

                                    </div>

                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9">No Customer Found.</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->


    </section>
    </div>
{% endblock %}