{% extends "admin_base.html" %}

  <!-- Content Wrapper. Contains page content -->
{% block title %} DailyMails.org | Marketing Email Plan & Billing Details
 {% endblock %}

{% block content-wrapper %}

  <div class="content-wrapper" style="min-height: 903px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        My Plan & Billing Details
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> My Plan & Billing Details
 </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
          <div class="row docs-premium-template">
              <div class="col-sm-12 col-md-6">
                <div class="box box-primary">
                <div class="box-header with-border">
          <h3 class="box-title">Subscriber Based Plan</h3>
            <h3 class="box-title pull-right text-blue">{{ user.userdetail.myplan.name }} <small> (Up To {{ user.userdetail.myplan.count }}  Subscribers) </small></h3>
            </div>
                    <div class="box-body">
                        <h4 style="background-color:#f7f7f7; font-size: 18px; padding: 7px 10px; margin-top: 0;">
                          {% if user.userdetail.remaining_days %}{{ user.userdetail.remaining_subsc|floatformat }} {% else %} 0 {% endif %} <small>  Subscribers Remaining</small> <span class="pull-right">{{ user.userdetail.remaining_days }} <small> Days Left</small></span>
                        </h4>
                        <div class="media">
                            
                            <div class="media-body">
                                <div class="clearfix">
                                  <p style="color:#18c96e" class="pull-right">
                                  {% if user.userdetail.myplan.id > 3 %}
                                      <a class="btn btn-sm btn-danger" href="/mysite/payment/purchase-credit/{{ user.userdetail.myplan.id }}/">Recharge Now</a>
					               {% endif %}
                                        <a href="/mysite/payment/purchase-credit/" class="btn btn-sm btn-default">Change Plan</a>
                                    </p>
                                  
                                    <h4 style="margin-top: 0">${{ user.userdetail.myplan.price }}/month</h4>
                                    <p style="margin-top: 0px;margin-bottom:0px"> &nbsp;</p>
                                    <p style="margin-bottom: 0">

                                      <a target="_blank" href="/mysite/payment/plan/features/?plantype=1">View Features</a>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>


    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

 {% endblock %}
