{% extends "admin_base.html" %}
{% block title %} Payment History {% endblock %}
{% block content-wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Payments
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Payments</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
     <div class="row">
     <div class="col-md-12">
          <div class="box">
            <div class="box-header">
            {% comment %}
              <a class="pull-left btn btn-primary" href="/mysite/payment/purchase-credit/"><i class="fa fa-plus"></i>

              <h3 class="box-title"> Purchase Credit</h3></a>
              {% endcomment %}

              <div class="box-tools">
                
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                  <tr>
                  <th>Date</th>
                  <th>Payment ID</th>
                  <th class="hidden-xs" >Source</th>
                  <th>Amount</th>
                </tr>
                  {% for p in payment_history %}
                <tr>
                  <td>{{ p.payment_date_time }}</td>
                  <td>{{ p.payment_id }}</td>               
                  <td class="hidden-xs"> 
                    {{ p.get_source_display }}
                  </td>
                  <td> 
                    $ {{ p.amount_received }} 
                  </td>                  
                 </tr>
                  {% empty %}
                  <tr><td colspan="3">No Payments Found.</td></tr>
                  {% endfor %}
                  {% if payment_history %}
                   <tr><td colspan="2"><b>Total </b></td><td class="hidden-xs"></td><td><b>$ {{ total }}</b></td></tr>
                  {% endif %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->


    </section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}
