{% extends "admin_base.html" %}
{% load staticfiles %}
{% block extracss %}
{% endblock %}
{% block title %} Make Payment {% endblock %}
{% block content-wrapper %}
    <div class="content-wrapper">
     {% if invalid %}   
   <div class="alert alert-warning alert-dismissible campaign-success">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<span>
  <h4><i class="fa fa-ban"></i> Alert!</h4>
 <p style="margin-left:20px;"><i class="fa fa-arrow-right"></i>  
  {{ invalid_msg|safe }}.
  </p>
</span>
</div>
{% endif %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Make Payment
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/mysite/payment/myplan/">Plan & Billing Details</a></li>
        <li class="active">Make Payment</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    
    <div class="row">
    <div class="col-md-12">
<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Make Payment </h3>
          
            
        </div>
        <div class="box-body">
  
<h5 style="margin-top: 0px; padding: 11px 10px;">Duration <span class="pull-right" style="font-size: 13px;"><select class="paymentduration"><option value="1" >1 Month </option><option value="2" {% if duration == '2' %} selected {% endif %}>6 Months </option><option value="3"  {% if duration == '3' %} selected {% endif %}>12 Months </option></select> </span></h5>
<h5 style="margin-top: 0px; padding: 0px 10px;">Discount <span class="btn btn-xs btn-danger pull-right"> {{ discount_in_percent }}% OFF </span></h5>
<h5 style="margin-top: 0px; padding: 7px 10px;"> <span class="pull-right" style="color:#808080"> <del>{% if user.userdetail.country_detail.name == "India" %} <i class="fa fa-inr"></i>  {{ paymenttotal|floatformat:2|default:0 }} {% else %} <i class="fa fa-dollar"></i> {{ total_price|default:0 }} {% endif %}</del> </span></h5>
<h4 style="background-color:#f7f7f7; font-size:16px;padding: 7px 10px; margin-top: 0;">Order Total 
<span class="pull-right ">  {% if user.userdetail.country_detail.name == "India" %} <i class="fa fa-inr"></i>  {{ paymentsubtotal|floatformat:2 }} {% else %} <i class="fa fa-dollar"></i> {{ subtotal_price }} {% endif %} </span> 
</h4>
{% if duration == "1" %}
<h5 style="margin-top: 0px; padding: 7px 0px 31px;">              
 <div class="input-group input-group-md  col-sm-6 col-xs-12 pull-right">
                <input type="text" class="form-control" id="couponcode" placeholder="Have a coupon? Enter Here" {% if request.GET.coupon_type == 'couponcode' %} value="{{ request.GET.value }}" {% endif %}>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat couponbutton">Apply</button>
                    </span>
              </div>
</h5>
{% endif %}

{% if user.userdetail.country_detail.name == "India" %}
                <a href="https://www.instamojo.com/aitre/dailymails/?data_name={{ user.username }}&data_email={{ user.email }}&data_phone={{ user.userdetail.mobile|default:9818966660 }}&data_amount={{ paymentsubtotal|floatformat:2 }}&data_readonly=data_name&data_readonly=data_email&data_readonly=data_phone&data_readonly=data_amount" rel="im-checkout" data-behavior="remote" data-style="flat-dark" data-text="Make Payment" ></a>
                <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
{% else %}
                <div id="paypal-button"></div>                
                <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4></script>
                <script>
    paypal.Button.render({
	  style: { size: 'responsive' },    
    env: 'production', // 'sandbox', // Optional: specify 'sandbox' environment
    client: {
	          sandbox: 'Af2Ylc8mjOeiCARHMd_uM0YCJe78CvUHjVVqGIZJu_InP1EUfqkN4eRWLnswKvfkktiVRKlntgG5AElP',
            production: 'ATWmkiFuHIC4obZpk5cxUMpAawMS9m8K7PiFjwau-JSzXFGG5PRPX17wlyQxOAYAiZskU3O01iRtLN-W'
        },

    payment: function() {
        
            var env    = this.props.env;
            var client = this.props.client;
        
            return paypal.rest.payment.create(env, client, {
                transactions: [
                    {
                        amount: { total: '{{ subtotal_price|floatformat:2 }}', currency: 'USD' }
                    }
                ]

            });
        },

        commit: true, // Optional: show a 'Pay Now' button in the checkout flow

        onAuthorize: function(data, actions) {
        
	   
            // Optional: display a confirmation page here
        	
            return actions.payment.execute().then(function() {
             // Show a success page to the buyer
		        document.querySelector('#paypal-button').innerText = 'Payment succesfully Completed!';
		    	document.location="/mysite/payment/?payment_id="+data.paymentID+"&status=success&paypal=1";
		
            });
        }//,
	     // onCancel: function(data, actions) {
	     //       alert(data);	
	 
         //     return actions.redirect();
        //},
	      //onError: function(err) {
            // Show an error page here, when an error occurs
          // alert(err);
        //}

    }, '#paypal-button');
</script>
                {% endif %}

  
          
                        </div>
        <!-- /.box-body -->
      </div>
  </div>
    </div>
  <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
{% endblock %}
{% block extrascript %}

{% endblock %}
