{% extends "admin_base.html" %}
{% block title %}  Compare all features  {% endblock %}
{% block content-wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        
        Subscribers-Based Plan Features
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">All features</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- /.row -->
<div class="row">
     <div class="col-md-12">
          <div class="box">          
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                  <tr>
				  <th style="width:22%"> Invoicing & Payments </th>
				  <th style="width:13%">Starter</th>
                  <th style="width:13%">Blossom</th>
                  <th style="width:13%">Enterprise</th>
                </tr>

                  <tr>

                  <td> Subscribers <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Total number of subscribers allowed for plan."></i></td>
                  <td>10,000</td>
                  <td>20,000</td>
                  <td>>20,000</td>

                  </tr>

                  <tr>

                  <td> Recurring Invoices <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="configure and send recurring invoice to your customers automatically."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>
                <tr>

                  <td> SSL Encryption <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Send and accept payments securely with our 256 bits ssl Encryption."></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>

                <tr>

                  <td> Online Payments <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Accept Payments online with dailymails payinvoice payment solutions."></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>
                 <tr>

                  <td> Track Payments <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Track and manage invoice payments with payinvoice."></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>
                   <tr>

                  <td> Payment Reminders <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Send unlimited email and sms reminders for non paying invoices."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>
                
                  <tr>
                  
                  <td> Unlimited Invoices <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Create, manage and send unlimited invoices to your customers."></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>            
                  
                  </tr>
                  
                  <tr>
                  
                  <td> Unlimited Estimates <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Create and manage unlimited estimates to your customers."></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>            
                  
                  </tr>
                  
                  <tr>
                  
                  <td> Unlimited CreditNotes <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Create and manage unlimited credit notes for your customers."></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>            
                  
                  </tr>


                 <tr>

                  <td> Custom Invoice Templates <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Choose and use our beautiful prebuilt invoice templates."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>
                <tr>

                  <td> Custom Estimate Templates <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Choose and use our beautiful prebuilt estimate templates."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>


                <tr>

                  <td> Multi-currency Support <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="We support all currencies of the world."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>


                  
                  
                 
                 					
 					
 
                 
                 
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
      </div>

      <div class="row">
     <div class="col-md-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                  <tr>
				  <th style="width:22%">Communications</th>
				  <th style="width:13%">Starter</th>
                  <th style="width:13%">Blossom</th>
                  <th style="width:13%">Enterprise</th>
                </tr>

                  <tr>

                  <td>Free Email <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Send free email for invoice and reminders to customers."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>
                <tr>

                  <td>Free SMS <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Send free sms for invoice and reminders to customers."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>





              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->


          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
<div class="row">
     <div class="col-md-12">
          <div class="box">          
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                  <tr>
				  <th style="width:22%">Reporting</th>
				  <th style="width:13%">Starter</th>
                  <th style="width:13%">Blossom</th>
                  <th style="width:13%">Enterprise</th>
                </tr>

                  <tr>
                  
                  <td>Advanced Reports <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="See advanced reports of invoice, estimates, payments and refunds"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>              
                  
                  </tr>
                 					
 					
 
                 
                 
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
<div class="row">
     <div class="col-md-12">
          <div class="box">          
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table">
                <tbody>
                  <tr>
				  <th style="width:22%">Support & Integrations</th>
				  <th style="width:13%">Starter</th>
                  <th style="width:13%">Blossom</th>
                  <th style="width:13%">Enterprise</th>
                </tr>
                <tr>
                  


                  
                  <td>Email Support <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Our friendly customer care team is available by email."></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>              
                  
                  </tr>
                  <tr>
                  <td>Chat Support <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Our friendly customer care team is available by chat and email."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>

                  <tr>

                  <td>Phone Support <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Our friendly customer care team is available by chat,email and phone."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>

                  </tr>

                  <tr>
                  
                  <td>Dedicated account manager <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-original-title="Work with Our Dedicated Account Manager to setup account, create customer, create product, enable payment gateway, and more."></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-times text-muted"></i></td>
                  <td><i class="fa fa-check text-primary"></i></td>              
                  
                  </tr>
                  
                 					
 					
 
                 
                 
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->


    </section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}
