{% extends "admin_base.html" %}
  <!-- Content Wrapper. Contains page content -->
{% block title %} DailyMails.org | Marketing Email Plan & Billing Details
 {% endblock %}

{% block content-wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        SMS & WhatsApp Pricing
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">SMS & WhatsApp Pricing</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
     <div class="row">
     <div class="col-md-12">
          <div class="box">
            {% comment %}<div class="box-header">

              <div class="box-tools">
                
              </div>
            </div>{% endcomment %}
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table">
                <tbody>
                  <tr>
                  <th>Country Name</th>
                  <th>Pormotional SMS</th>
                  <th>Transactional SMS</th>
                  <th>OTP SMS</th>
                  <th>Templated WhatsApp</th>
                  <th>Sessioned WhatsApp</th>
                </tr>
                  {% for c in country %}
                <tr>
                  <td>{{ c.name }}</td>               
                  <td> ${{ c.pormotional_sms_pricing }} </td>
                  <td> ${{ c.transactional_sms_pricing }} </td>
                  <td> ${{ c.otp_sms_pricing }} </td>
                  <td> ${{ c.whatsapp_templated_pricing }} </td>
                  <td> ${{ whatsapp_sessioned_pricing }} </td>
                                   
                 </tr>
                  {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->


    </section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
