{% extends "admin_base.html" %}

  <!-- Content Wrapper. Contains page content -->
{% block title %} DailyMails.org | Plan & Billing Details
 {% endblock %}

{% block content-wrapper %}

  <div class="content-wrapper" style="min-height: 903px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% if payment_plan_sms %} Add Funds {% else %}Change Plan {% endif %}
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Plan & Billing Details
 </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      
      <!-- /.row -->
      {% if payment_plan_subscriber %}
      <div class="row">
    
        <div class="col-md-12">
            <p class="text-center">
           {% comment %} <a class="btn btn-success email-based-plan" style="font-size:18px !important;">Email-based Plan</a>&nbsp; &nbsp;{% endcomment %}
            <a  class="btn btn-success subscriber-based-plan" style="font-size:18px !important;"> Subscriber-based Plan</a>
            </p> 
        </div>
        

    </div>
    {% endif %}
      
      <div>

     {% if  payment_plan_subscriber %}
      <div class="row docs-premium-template subscriber-based-plan" >
        {% for p in payment_plan_subscriber %}
                    <div class="col-sm-6 col-md-4">
                <div class="box box-solid">
                    <div class="box-body">
                        <h4 style="background-color:#f7f7f7; font-size: 18px; padding: 7px 10px; margin-top: 0;">
                          {{ p.name }} <span class="pull-right"><small>Up To {{ p.email_count }} Subscribers</small></span>
                        </h4>
                        <div class="media">

                            <div class="media-body">
                                <div class="clearfix">
                                    <p class="pull-right">
                                        <a class="btn btn-success btn-sm ad-click-event" href="/mysite/payment/purchase-credit/{{ p.id }}/">
                                            SELECT
                                        </a>
                                    </p>
                                    <h4 style="margin-top: 0">${{ p.price }}/month</h4>

                                    <p style="margin-bottom: 0">
                                      <a href="/mysite/payment/plan/features/?plantype=1" target="_blank">View Features</a>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            </div>
            {% endif %}


            
</div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

 {% endblock %}
