{% extends "admin_base.html" %}
{% block title %} Add Tax {% endblock %}

{% block content-wrapper %}

<div class="content-wrapper" style="min-height: 903px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
       Create New Tax
    </h1>
    <ol class="breadcrumb">
      <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/mysite/invoicesetting/tax/">My Tax</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- right column -->
      <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">New Tax</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" id="taxform" name="taxform" method="POST" action="">
            {% csrf_token %}

            <div class="box-body">
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <span class="error-message error" style="display:none">

                  </span>
                </div>
              </div>



              <div class="form-group">
                <label class="col-sm-3 control-label" for="tax_name">Tax Name</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="Tax Name" id="tax_name" name="tax_name" value="{{tax.tax_name}}" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="rate">Rate(%)</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="rate" id="rate" name="rate" value="{{tax.rate}}" class="form-control" required>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-default" type="reset">Reset</button>
                <button class="btn btn-info pull-right" type="submit" id="sender_button">Submit</button>
              </div>
              <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>



  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}