{% extends "admin_base.html" %}
{% block title %} List Of Tax || Dashboard {% endblock %}
{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">


  <section class="content-header">
    <h1>
      All Tax Rates
    </h1>
    <ol class="breadcrumb">
      <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Tax Rates</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <!-- Left col -->
      <section class="col-sm-12 connectedSortable ui-sortable">
        <!-- Custom tabs (Charts with tabs)-->

        <!-- /.nav-tabs-custom -->

        <!-- Chat box -->

        <!-- /.box (chat box) -->

        <!-- TO DO List -->
        <div class="box box-primary">
          <div class="box-header ui-sortable-handle" style="cursor: move;">

            <h3 class="box-title"> Tax Rates</h3>
            <a href="/mysite/invoicesetting/tax/create/" class="pull-right btn btn-primary">
              <i class="fa fa-plus-circle"></i>
              <h3 class="box-title">New Tax</h3>
            </a>  


          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">

            <table class="table">
              <tbody>
                {% if taxes %}  
                <tr>
                 <th>Tax Name</th>
                 <th>Rate(%)</th>
                 <th>#</th>
               </tr>
   {% for taxs in taxes %}
               <tr>
                                
                 <td>   
                   {{ taxs.tax_name }}
                 </td>
                 <td>
                   {{ taxs.rate }}
                 </td>    
                 <td><div>
                  <a href="/mysite/invoicesetting/tax/edit/{{taxs.id}}/" style="color: inherit"><i class="fa fa-edit"></i></a>
                  <a style="color:inherit" href="/mysite/invoicesetting/tax/delete/{{taxs.id}}/"
                    onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></a>
                </td></div>
                   
                 
                </tr>
     {% endfor %}
             {% else %}
                 <tr>
                   <td>
             No tax found.
                   </td>
                 </tr>
             {% endif %}
                 

              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
         
        </div>
        <!-- /.box -->

        <!-- quick email widget -->


      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->

      <!-- right col -->
    </div>
    <!-- /.row -->


  </section>


  

  <!-- /.content -->
</div>
<!-- /.content-wrapper -->





{% endblock %}



<!--<div class="tools">
  <a style="color:inherit"
  href="/detail/{{ product.slug }}/"
  target="_blank"><i class="fa fa-eye"></i></a>
  <a href="/invoice/product/change/{{ product.slug }}/"
  style="color: inherit"><i class="fa fa-edit"></i></a>
  <a style="color:inherit"
  href="/delete/{{ product.slug }}/"
  onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></a>
 
  </div> -->