{% extends "admin_base.html" %}
{% block title %} Invoice settings {% endblock %}
{% load staticfiles %}

{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <section class="content-header">
        <h1>
            {% if template %}  {% else %}  {% endif %} Invoice
        </h1>
        <ol class="breadcrumb">
            <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{% if template %}  {% else %} Add {% endif %} Invoice</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% if template %} Add {% else %}  {% endif %} Invoice</h3>
                    </div>
                    <!-- /.box-header -->
                    <form enctype="multipart/form-data" method="post"
                          action="{% if template %}/mysite/invoicesetting/template/add/{{ template.id }}/{% else %}/mysite/invoicesetting/template/{% endif %}"
                          id="#">


                        <div class="box-body">
                            {% csrf_token %}
                            {% for template in templates  %}
                            <div class="col-md-4">
                               
                                
                                    <div class="thumbnail card mx-0 align-items-center " data-test-template-thumbnail=""> 
                                        <div id="ember1001" class="ember-view">
                                            <img src="https://d12h6dzwzn4m10.cloudfront.net/zbooks/assets/images/templates/invoices/excel@1x-0856c50eb66b10d4316da748aad91b10.jpg" 
                                            class="rounded" height="auto" width="100%"> 
                                        </div> 
                                            <div class="caption card-img-overlay p-0 d-flex align-items-end" style=" position:absolute; margin-top:-55px; margin-left:55px">
                                                <div class="card-body bg-dark text-center">
                                            {% if template.id != usertemplate.template.id %}
                                            <button> <a class="fa fa-plus" href="/mysite/invoicesetting/{{template.get_template_type_display}}/add/?template_id={{template.id}}"> </a> </button>
                                            {% endif %}
                                            <button class="btn btn-default" type="reset"><a href="#" data-toggle="modal" data-target="#support-features">{% if user.userdetail.support_remaining_days %} Premium {% else %} Preview {% endif %}</a></small></button> 

                                                 </div>
                                                </div>
                                    </div> 
                                    <h5 class="over-flow" title="Spreadsheet Template"><td>{{ template.name }}</td> </h5>

                                   

                                   

                                   
                        </div>
                        {% endfor %}
                        <!-- <div class="box-footer">
                            <button class="btn btn-default" type="reset">Reset</button>
                            <button class="btn btn-info pull-right" type="submit" id="btn_product_submit">Submit
                            </button>
                        </div> -->
                    </section>
                   
                            
                    <div class="modal fade in" id="support-features" tabindex="-1" role="dialog" aria-labelledby="featureModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times</span></button>
                                    <h3 class="modal-title" id="featureModalLabel" >{% if user.userdetail.support_remaining_days %}  {% else %} Preview  {% endif %}</h3>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="https://d12h6dzwzn4m10.cloudfront.net/zbooks/assets/images/templates/invoices/excel@1x-0856c50eb66b10d4316da748aad91b10.jpg" 
                                               height="auto" width="100%"  > </div>

                                     </div>         
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                    
                                    
                                  </div>
                                </div>
                                <!-- /.modal-content -->
                              </div>
                              <!-- /.modal-dialog -->
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

                      