<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> {% block title %} Dashboard {% endblock %} - {{ user.username }} </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/extra.css' %}">
    {% block extracss %}
    {% endblock %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){
z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='https://v2.zopim.com/?57WYrXEXpMTOKoG357LajiRpUnKNLst0';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zendesk Chat Script-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">

    <!-- Logo -->
    <a href="/mysite/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>I</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>PayInvoice</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          {% if user.is_authenticated %}
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
              <span class="hidden-xs">{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</span>
            </a>
            
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">

                <p>
                  {% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}
                  <small>Member since {{ user.date_joined }}</small>
                </p>
              </li>
              <!-- Menu Body -->
                {% comment %}
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
                {% endcomment %}
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/accounts/" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/accounts/logout/" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
           <!-- <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
          {% endif %}
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
        <!--
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <!--<li class="header">MAIN NAVIGATION</li>-->
        {% block menu %}
        <li class="active">
          <a href="/mysite/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>

          </a>

        </li>
 {% if user.is_authenticated %}

 <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Invoicing </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/mysite/customer/"><i class="fa fa-id-card-o"></i> Customers
            <span class="pull-right-container">
            <span class="label label-primary pull-right">{{ contact }}</span>
            </span>
                </a>
            </li>
              <li><a href="/mysite/product/"><i class="fa fa-product-hunt"></i> Products
            <span class="pull-right-container">
            <span class="label label-primary pull-right">{{ template }}</span>
            </span>
                </a>
            </li>
              <li><a href="#"><i class="fa fa-files-o"></i> Estimates
            <span class="pull-right-container">
            <span class="label label-primary pull-right">{{ campaign }}</span>
            </span>
                </a>
            </li>
              {% comment %}
              <li><a href="/mysite/reports/"><i class="fa fa-pie-chart"></i> Delivery Challans
            <span class="pull-right-container">
            <span class="label label-primary pull-right">{{ report }}</span>
            </span>
                </a>
            </li>
              {% endcomment %}
              <li><a href="/mysite/invoice/"><i class="fa fa-files-o"></i> Invoices
            <span class="pull-right-container">
            <span class="label label-primary pull-right">{{ report }}</span>
            </span>
                </a>
            </li>



          </ul>
        </li>

 <li class="treeview">
          <a href="#">
            <i class="fa fa-money"></i>
            <span>Payments</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" ><i class="fa fa-rupee"></i> Payment Received
            <span class="pull-right-container">
            <span class="label label-primary pull-right"></span>
            </span>
                </a>
            </li>
              <li><a href="#"><i class="fa fa-rupee"></i> Refunds
            <span class="pull-right-container">
            <span class="label label-primary pull-right"></span>
            </span>
                </a>
            </li>
          </ul>
        </li>
 <li class="treeview">
          <a href="#">
            <i class="fa fa-credit-card"></i>
            <span>Subscriptions</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            
            <li><a href="/mysite/payment/myplan/"><i class="fa fa-money"></i> Plan & Billing Details </a></li>
            <li><a href="/mysite/payment/history/"><i class="fa fa-history"></i> Payment History</a></li>
            <li><a href="/mysite/offers/"><i class="fa fa-tags"></i> Offers </a></li>
            
          </ul>
        </li>
 <li class="treeview">
          <a href="#">
            <i class="fa fa-gear"></i>
            <span>Invoice Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li class="treeview">
                <a href="#">
                <i class="fa fa-money"></i>
                    <span>Currencies</span>
                </a>

            <li><a href="#"><i class="fa fa-calculator"></i> Taxes </a></li>
          </ul>
        </li>


          <li class="treeview">
          <a href="/mysite/api/">
            <i class="fa fa-code"></i>
            <span>API</span>

          </a>

          </li>
        
 <li>
          <a href="/mysite/support/">
            <i class="fa fa-life-ring"></i>
            <span>Help & Support</span>
          </a>
        </li>
      {% endif %}
          {% endblock %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
{% block content-wrapper %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% if request.GET.msg or broadcast %}
<div class="alert alert-error alert-dismissible">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   <span><i class="fa fa-2x fa-rocket"></i> {% if request.GET.msg %}{{ request.GET.msg }} {% else %} {{ broadcast.0.message }} {% endif %}</span>
</div>
{% endif %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
   
      
        {% if user.userdetail.remaining_days and user.userdetail.remaining_days < 7 or user.userdetail.support_remaining_days and user.userdetail.support_remaining_days < 7 or user.userdetail.myplan.plan_type == 2 and user.userdetail.remaining_emails < 0 %}
      <div class="callout callout-success">
     
        <h4><i class="fa fa-warning"></i> Reminder!</h4>
        {% if user.userdetail.myplan.plan_type == 2 and user.userdetail.remaining_emails < 0 %}
        <p style="margin-left:20px;">
        <i class="fa fa-arrow-right"></i> Currently you have more than {{ user.userdetail.myplan.email_count }} Subscribers in your Contact List, which put you over the limit for the {{ user.userdetail.myplan.name }} plan.
        If you’d like, You can perform bulk delete of your contacts so that your account will remain on the {{ user.userdetail.myplan.name }} plan once this change goes into effect.If you’d like to keep all of your contacts in your audience, you can upgrade your plan.
        
        </p> 
        {% endif %}
        
        {% if user.userdetail.remaining_days and user.userdetail.remaining_days < 7 %}
         <p style="margin-left:20px;">
        <i class="fa fa-arrow-right"></i> Your Email plan will be expire on {{ user.userdetail.valid_date|date:"M d" }}. Please reenroll your plan before {{ user.userdetail.valid_date|date:"M d" }} for uninterepted sending{% if user.userdetail.myplan.plan_type == 1 %} and to forward remaining credit in next month {% endif %}.
       </p> 
       {% endif %}
       {% if user.userdetail.support_remaining_days and user.userdetail.support_remaining_days < 7 %}
         <p style="margin-left:20px;">
        <i class="fa fa-arrow-right"></i> Your Premium Support Plan will be expire on {{ user.userdetail.supportplan_valid_date|date:"M d" }}. Please reenroll your premium supoort plan before {{ user.userdetail.supportplan_valid_date|date:"M d" }} for continuous premium support.
       </p> 
       {% endif %}
        
        
      </div>
      {% endif %}

        {% comment %}
      
      <div class="row">
        
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-envelope"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Remaining {% if user.userdetail.myplan.plan_type == 1 %} Emails {% else %} Subscribers {% endif %} <small class="pull-right"> Marketing</small></span>
              <span class="info-box-number">{% if user.userdetail.remaining_days %}{{ user.userdetail.remaining_emails|floatformat }} {% else %} 0 {% endif %}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->        
        <!-- fix for small devices only 
        <div class="clearfix visible-sm-block"></div>-->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-clock-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Days Left  <small class="pull-right"> Marketing </small></span>
              <span class="info-box-number">{{ user.userdetail.remaining_days }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-envelope"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Remaining Emails <small class="pull-right"> Transactional</small></span>
              <span class="info-box-number">{% if user.userdetail.api_remaining_days %}{{ user.userdetail.remaining_api_emails|floatformat }} {% else %} 0 {% endif %}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->        
        <!-- fix for small devices only 
        <div class="clearfix visible-sm-block"></div>-->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-clock-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Days Left  <small class="pull-right"> Transactional </small></span>
              <span class="info-box-number">{{ user.userdetail.api_remaining_days }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        
        
      </div>
        {% endcomment %}
      
{% comment %}
  <div class="row">
  <div class="col-md-6">
<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Advanced Campaigns</h3>
        </div>
        <div class="box-body">
          <div class="row">
                
                <div class="col-xs-6">           

              <div class="description-block border-right">
                    <h1><span class="description-header text-green"> {{ sent_campaign }}</span></h1>                    
                    <h3><span class="description-text">Sent</span></h3>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                  <div class="description-block">
                    <h1><span class="description-header text-blue"> {{ running_campaign }}</span></h1>                    
                    <h3><span class="description-text">Running</span></h3>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                
              </div>
        </div>

        <!-- /.box-body -->
        
      </div>
  </div>
<div class="col-md-6">
<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Regular Campaigns</h3>
        </div>
        <div class="box-body">
          <div class="row">
                <div class="col-xs-6"> 

               <div class="description-block border-right">
                    <h1><span class="description-header text-yellow"> {{ draft_campaign }}</span></h1>                    
                    <h3><span class="description-text">Draft</span></h3>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-xs-6">               

                    <div class="description-block">
                    <h1><span class="description-header text-yellow"> {{ review_campaign }} </span></h1>
                    
                    <h3><span class="description-text">In Review</span></h3>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                
                <!-- /.col -->
                
              </div>
        </div>

        <!-- /.box-body -->
        
      </div>
  </div>
</div>
        {% endcomment %}
 <div class="row">
 <div class="col-md-6">
<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Lists & Subscribers</h3>
        </div>
        <div class="box-body">
          <div class="row">
                <div class="col-xs-6">
                  

<div class="description-block border-right">
                    <h1><span class="description-header text-green"> {{ contact|default:"0" }} </span></h1>
                    
                    <h3><span class="description-text">Lists</span></h3>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-xs-6">               

<div class="description-block">
                    <h1><span class="description-header text-yellow"> {{ total_contacts|default:"0" }} </span></h1>
                    
                    <h3><span class="description-text">Subscribers</span></h3>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                
                <!-- /.col -->
                
              </div>
        </div>

        <!-- /.box-body -->
        
      </div>
  </div>
   
      
 
  <div class="col-md-6">
<div class="box box-default" style="min-height:185px;">
        <div class="box-header with-border">
          <h3 class="box-title">Offers & Rewards</h3>
        </div>
        <div class="box-body">
          <div class="row">
                
            <div class="col-md-12">
		  <ul>
            <li><p>Prepay for 6 months and get <a href="/mysite/offers/"><span class="btn btn-xs btn-danger">30% OFF</span></a></p></li>
            <li><p>Prepay for 12 months and get <a href="/mysite/offers/"><span class="btn btn-xs btn-danger">40% OFF</span></a></p></li>
         </ul>
                  
                </div>    <!-- /.col -->
                
                <!-- /.col -->
                
                <!-- /.col -->
                </div>
              </div>
        </div>

        <!-- /.box-body -->
        
      </div>
  </div>
    <div class="row">
  <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Subscriber Based Plan</h3>
            <h3 class="box-title pull-right text-blue">{{ user.userdetail.myplan.name }} <small> (Up To {{ user.userdetail.myplan.count }}  Subscribers) </small> </h3>
        </div>
        <div class="box-body">
          <h4 style="background-color:#f7f7f7; font-size: 18px; padding: 7px 10px; margin-top: 0;">
                          {% if user.userdetail.remaining_days %}{{ user.userdetail.remaining_subscribers|floatformat }} {% else %} 0 {% endif %} <small>  Subscribers Remaining</small> <span class="pull-right">{{ user.userdetail.remaining_days }} <small> Days Left</small></span>
                        </h4>
                        <div class="media">

                            <div class="media-body">
                                <div class="clearfix">
                                  <p class="pull-right" style="color:#18c96e">
                                      {% if user.userdetail.myplan.id > 4 %}
                                      <a class="btn btn-sm btn-danger" href="/mysite/payment/purchase-credit/{{ user.userdetail.myplan.id }}/">Recharge Now</a>
                                      {% endif %}
                                        <a class="btn btn-sm btn-default" href="/mysite/payment/purchase-credit/">Change Plan</a>
                                    </p>

                                  <h4 style="margin-top: 0;">${{ user.userdetail.myplan.price }}/month</h4>

                                    <p style="margin-top: 0px;margin-bottom:0px"> &nbsp;</p>

                                  <p style="margin-bottom: 0">
                                      <a target="_blank" href="/mysite/payment/plan/features/?plantype=1">View Features</a>

                                    </p>


                                </div>
                            </div>
                        </div>

        </div>
      </div>
  </div>
  </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
        <a href="https://dailymails.org/about-us/" class="page-scroll">About Us </a> |
        <a href="https://dailymails.org/privacy/" class="page-scroll">Privacy Policy </a> |
        <a href="https://dailymails.org/terms/" class="page-scroll">Terms &amp; Conditions</a> |
        <a href="https://dailymails.org/data-processing-agreement/" class="page-scroll">Data Protection Policy</a>
    </div>
    <strong>Copyright &copy; 2018-2019 <a href="/">Dailymails.org</a></strong> All rights
    reserved.
  </footer>
{% comment %}
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->

      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  
{% endcomment %}
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/app.min.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<!-- jvectormap -->
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- SlimScroll 1.3.0 -->
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- ChartJS 1.0.1 -->
<script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes)
<script src="{% static 'dist/js/pages/dashboard2.js' %}"></script>-->
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.1/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/additional-methods.min.js"></script>
<script src="{% static 'js/form-validation.js' %}"></script>
{% block extrascript %}
{% endblock %}

{% include "tracking.html" %}


<!--Start of Connecto Script-->
<script type="text/javascript">
var _TConnecto = _TConnecto || {};
_TConnecto.licenseKey = 'fmAMClzX5bcQ9L05';

(function() {
 var con = document.createElement('script'); con.type = 'text/javascript';
 var host = (document.location.protocol === 'http:') ? 'http://cdn' : 'https://server';
 con.src = host + '.connecto.io/javascripts/connect.prod.min.js';
 var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(con, s);
})();
</script>
</body>
</html>
