{% extends "admin_base.html" %}
{% block title %}  API Credentials {% endblock %}
{% block content-wrapper %}
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
<!-- Content Header (Page header) ---->
<section class="content-header">
<h1>
Your unique API key
<small></small>
</h1>
<ol class="breadcrumb">
<li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">RealTime Web API</li>
</ol>
</section>

<!-- Main content -->
<section class="content">
<!-- Info boxes -->
<div class="row">
<div class="col-md-12">
<div class="box">
<div class="box-header">

<a class="pull-left btn btn-xs btn-primary" href="/mysite/api/action/enable/"><i class="fa fa-plus"></i>
<h3 class="box-title" style="font-size:16px !important;">{% if user.userdetail.is_api_enabled %} ReGenerate API Key {% else %} Enable API Access{% endif %}</h3></a>

<div class="box-tools">
</div>
</div>
<!-- /.box-header -->
<div class="box-body no-padding">
<table class="table">
<tbody>

{% if user.userdetail.is_api_enabled %}
<tr>
<th>username</th>
<th>api_key</th>
<th>#</th>
</tr>
<tr>
<td>
{{ user.username }}
</td>
<td>{{ user.userdetail.key }}</td>
<td><a href="/mysite/api/action/disable/"><i class="fa fa-trash"></i></a></td>
</tr>
{% else %}
<tr>
<td> Your API service is not enabled. Please enable api service to start use of Emailvalidators api.</td>
</tr>
{% endif %}

</tbody></table>
</div>
<!-- /.box-body -->
</div>
<!-- /.box -->


<!-- /.box -->
</div>
</div>
<!-- /.row -->


</section>


<!-- /.content -->
</div>
<!-- /.content-wrapper ------->

{% endblock %}