{% extends "admin_base.html" %}
{% block title %}  Support Create {% endblock %}

{% block content-wrapper %}

  <div class="content-wrapper" style="min-height: 903px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {% if supportcase %} Change {% else %} Create New {% endif %} Case
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/mysite/support/">My support cases</a></li>
        <li class="active">{% if supportcase %} {{ supportcase.subject }} {% else %} Create New Case{% endif %} </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Support Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" id="supportcaseform" name="supportcaseform" method="POST" action="{% if supportcase %}/mysite/support/change/{{ supportcase.id }}/{% else %}/mysite/support/create/{% endif %}">
                {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <span class="error-message error" style="display:none">

                    </span>
                  </div>
                </div>

                 <div class="form-group">
                  <label class="col-sm-3 control-label" for="from_name">Regarding</label>
                  <div class="col-sm-9">
                    <select class="form-control" id="supportcategory" name="supportcategory" required>
                    {% for s in supportcategory %}
                    <option value="{{ s.id }}" {% ifequal s.id supportcase.supportcategory.id %} selected="selected" {% endifequal %}>{{ s.name }}</option>
                    {% endfor %}
                  </select>                  
                   </div>
                </div>
             
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="name">Subject</label>
                  <div class="col-sm-9">
                   <input type="text" placeholder="Subject" id="subject" name="subject" class="form-control" value="{{ supportcase.subject }}" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="name">Description</label>
                  <div class="col-sm-9">
                    <textarea name="description" id="description" rows=10 style="width:100%" required></textarea>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-default" type="reset">Reset</button>
                <button class="btn btn-info pull-right" type="submit" id="sender_button">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
