{% extends "admin_base.html" %}
{% load staticfiles %}
{% block title %} Support Detail {% endblock %}
 {% block content-wrapper %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Case Details
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/support/">support</a></li>
        <li class="active">Case Details</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-5">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
             
              <p class="text-muted text-center">Support Plan : Basic </p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Case ID</b> <span class="pull-right">{{ supportcase.id }}</span>
                </li>
                <li class="list-group-item">
                  <b>Status</b> <span class="pull-right">{{ supportcase.get_status_display }}</span>
                </li>
                <li class="list-group-item">
                  <b>Severity</b> <span class="pull-right">{{ supportcase.get_severity_display }}</span>
                </li>
               <li class="list-group-item">
                  <b>Created</b> <span class="pull-right">{{ supportcase.date }}</span>
                </li>
               <li class="list-group-item">
                  <b>Category</b> <span class="pull-right">{{ supportcase.supportcategory.name }}</span>
                </li>
               <li class="list-group-item">
                  <b>Subject</b> <span class="pull-right">{{ supportcase.subject }}</span>
                </li>  
              </ul>
             
               {% if supportcase.status == 3 or supportcase.status == 4 %}
             <br><br>
              <a href="/mysite/support/reopen/{{ supportcase.id }}/" class="btn btn-primary btn-block"><b>Reopen Case</b></a>
             
               {% endif %}
             
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-7">
         <div class="nav-tabs-custom">
<div class="tab-content">
           <div id="timeline" class="tab-pane active">
          <ul class="timeline timeline-inverse">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    {{ supportcase.date|date:"D d M Y" }}
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{ supportcase.date|time:"H:i" }}</span>

                <h3 class="timeline-header"><a href="#">{% if supportcase.user.first_name %} {{ supportcase.user.first_name }} {% else %}{{ supportcase.user.username }} {% endif %}</a> </h3>

                <div class="timeline-body">
                 {{ supportcase.description|safe }}
                </div>
                
              </div>
            </li>
           {% for s in supportcase.supportcasesdetail_set.all %}
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-green">
                    {{ s.modified_date|date:"D d M Y" }}
                  </span>
            </li>
            <!-- /.timeline-label -->
           
            <!-- timeline item -->
            <li>
              <i class="fa fa-comments bg-yellow"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{ s.modified_date|time:"H:i" }}</span>

                <h3 class="timeline-header"><a href="#">{% if s.user.first_name %} {{ s.user.first_name }} {% else %}{{ s.user.username }} {% endif %}</a></h3>

                <div class="timeline-body">
                 {{ s.comment|safe }}
                </div>
                
              </div>
            </li>
            <!-- END timeline item -->
           {% endfor %}
            
           <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
          </ul>
            </div>
         </div>
</div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
