{% extends "admin_base.html" %}
 {% block title %}  Support Reopen {% endblock %}

{% block content-wrapper %}

  <div class="content-wrapper" style="min-height: 903px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
         Reopen Case
      </h1>
      <ol class="breadcrumb">
        <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/mysite/support/">My support case</a></li>
        <li class="active">Reopen </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Support Case Reopen Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" name="supportcasereopenform" method="POST" action="">
                {% csrf_token %}
              <div class="box-body">
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <span class="error-message error" style="display:none">

                    </span>
                  </div>
                </div> 
                
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="name">Reply</label>
                  <div class="col-sm-9">
                    <textarea name="comment" id="comment" rows=10 style="width:100%" required></textarea>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-default" type="reset">Reset</button>
                <button class="btn btn-info pull-right" type="submit" id="sender_button">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
