{% extends "admin_base.html" %}
{% block title %} {% if invoice_data %} Update {% else %} Create {% endif %} Invoice {% endblock %}

{% load staticfiles %}

{% block content-wrapper %}

<div class="content-wrapper" style="min-height: 903px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Invoices
    </h1>
    <ol class="breadcrumb">
      <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/mysite/invoicesetting/currency/">My Invoices</a></li>
      <li class="active">{{ invoice_data.customer.first_name }}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- right column -->
      <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">{% if invoice_data %} Change {% else %} Create {% endif %} Invoice</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form enctype="multipart/form-data" method="POST" action="{% if invoice_data %}/mysite/invoice/update/{{ invoice_data.id }}/{% else %}/mysite/invoice/create/{% endif %}">
            <div class="box-body">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="customer">Customer Name</label>
                    <select class="form-control" id="customer" name="customer">
                        {% for cn in customers %}
                        <option value="{{ cn.id }}" {% ifequal cn.id invoice_data.customer %}
                                selected="selected" {% endifequal %}>{{cn.first_name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label " for="invoice_number">Invoice Number</label>
                    <input type="text" class="form-control" autocomplete="off" name="invoice_number" id="invoice_number" placeholder="Invoice Number"
                           value="{{ invoice_data.invoice_number }}">
                </div>

                <div class="form-group">
                    <label class="control-label " for="order_number">Order Number</label>
                    <input type="text" class="form-control" autocomplete="off" name="order_number" id="order_number" placeholder="Order Number"
                           value="{{ invoice_data.order_number }}">
                </div>

                <div class="form-group">
                    <label class="control-label " for="invoice_date">Invoice Date</label>
                    <input type="date" class="form-control" autocomplete="off" name="invoice_date" id="invoice_date" placeholder="Invoice Date"
                           value="{{ invoice_data.invoice_date }}">
                </div>

                <div class="form-group">
                    <label class="control-label " for="due_date">Due Date</label>
                    <input type="date" class="form-control" autocomplete="off" name="due_date" id="due_date" placeholder="Due Date"
                           value="{{ invoice_data.due_date }}">
                </div>

            </div>

            <div class="col-md-6">
                {% if note_condition %}
                <div class="form-group">
                    <label class="control-label " for="customer_notes">Customer Notes</label>
                    <input type="text" class="form-control" autocomplete="off" name="customer_notes" id="customer_notes" placeholder="customer notes"
                           value="{{ note_condition.customer_notes }}">
                </div>

                <div class="form-group">
                    <label class="control-label " for="terms_and_conditions">Terms and Conditions</label>
                    <input type="text" class="form-control" autocomplete="off" name="terms_and_conditions" id="terms_and_conditions" placeholder="terms and conditions"
                           value="{{ note_condition.terms_and_conditions }}">
                </div>
                {% endif %}

                <div class="form-group">
                    <label class="control-label " for="subtotal">Subtotal</label>
                    <input type="text" class="form-control" autocomplete="off" name="subtotal" id="subtotal" placeholder="Subtotal"
                           value="{{ invoice_data.subtotal }}">
                </div>

                <div class="form-group">
                    <label class="control-label " for="total">Total</label>
                    <input type="text" class="form-control" autocomplete="off" name="total" id="total" placeholder="Total"
                           value="{{ invoice_data.total }}">
                </div>
            </div>
            </div>

          </form>

      <div class="col-md-12">
        <table class="table">
          <tr>
            <td>
              <label class="control-label" id="products">Item Details</label>
<!--              <select class="form-control" id="products" name="products">-->
<!--                 {% for p in products %}-->
<!--                 <option value="{{ p.id }}" {% ifequal p.id pinvoice_data.products %}-->
<!--                         selected="selected" {% endifequal %}>{{ p.name }}-->
<!--                 </option>-->
<!--                 {% endfor %}-->
<!--              </select>-->
            </td>
            <td>
              <label class="control-label" id="quantity"  >Quantity</label>
            </td>
            <td>
                <label class="control-label" id="rate" >Rate</label>
            </td>
            <td>
              <label class="control-label" id="discount" >Discount</label>
            </td>
            <td>
            <label class="control-label"  onclick="getPrice()" >Amount</label>
            </td>
          </tr>

          </tr>
          <input type="hidden" id="fixvalue" value="4">

          <div class="form-group addinput">
            {% for s in pipeline_value  %}
          <tr>
            <td><input type="text" class="form-control" required maxlength="50" name="stage-{{ s.2 }}"  placeholder="Stages" value="{{s.0}}" required ></td>
            <td><input type="number" class="form-control" required maxlength="10" name="score-{{ s.2 }}"  placeholder="Score" value="{{s.1}}" required ></td>
               <input type="hidden" value="{{ s.2 }}" name="total_input">
          </tr>
          </tr>
          {% endfor %}
          <input type="hidden" class="form-control" id="totalstage" name="total_stage" value="1" >
          </div>
        </table>
      </div>
            <div class="box-footer clearfix">
                {% if not pipeline_name %}
                 <a class="btn btn-link pull-left addmore" href="#"><i class="fa fa-plus"></i>
                 <span style="font-size:16px;"> Add More</span></a>
                {% endif %}
                 <button type="submit" id="addallvalue"  class="btn btn-success pull-right"> Save </button>
            </div>

        </div>
        <!-- /.box -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
 /.content-wrapper
{% block extrascript %}
<script>

  $('.getPrice').on('focusout', function() {
    val = $(this).html().trim()
        var numVal1 = Number(document.getElementById("Quantity").value);
        var numVal2 = Number(document.getElementById("rate").value);
        var numVal3 = Number(document.getElementById("discount").value) / 100;
        var totalValue = [(numVal1 * numVal2) * (numVal3) ] / 100
        document.getElementById("Amount").value = totalValue.toFixed(2);
});
</script>
{% endblock %}
{% endblock %}


