{% extends "admin_base.html" %}
{% block title %} Invoice Details || Dashboard {% endblock %}
{% block content-wrapper %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">


  <section class="content-header">
    <h1>
      Invoices
    </h1>
    <ol class="breadcrumb">
      <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Invoice</li>
    </ol>
  </section>

  <!-- Main content -->

  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Invoice Details</h3>
            <a href="/mysite/invoice/create/" class="pull-right btn btn-primary" style="margin-right:40px;">
              <i class="fa fa-plus-circle"></i>
              <h3 class="box-title">Create Invoice</h3>
            </a>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>


            <!--   <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>-->
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body" style="display: block;">



            <div class="row">
              <form method="GET">
                <div class="col-md-3 col-xs-4">
                  <div class="form-group">
                    <label class="control-label" style="text-transform:capitalize">Search by Invoice number</label>
                    <input type="search" placeholder="Enter invoice number" name="invoice_number" class="form-control">


                  </div>
                </div>

                <div class="col-md-3 col-xs-4">
                  <div class="form-group">
                    <label class="control-label" style="text-transform:capitalize">Search by Invoice date</label>
                    <input type="date" placeholder="Enter invoice date" name="invoice_date" class="form-control">

                  </div>
                </div>

                <div class="col-md-3 col-xs-4">
                  <div class="form-group">
                    <label class="control-label" style="text-transform:capitalize">Search by Due date</label>
                    <input type="date" placeholder="Enter due date" name="due_date" class="form-control">

                  </div>
                </div>



                <div class="col-md-12 col-xs-12">
               <button class="btn btn-info pull-right" type="submit" id="sender_button"><i
                      class="fa fa-filter"></i>Filter</button>


                </div>
              </form>
              <!-- /.row -->
            </div>


          </div>
        </div>

        <div class="box">
          <div class="box-header">


            <div class="box-tools">
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table">
              <tbody>
                {% if inv %}
                <tr>
                  <th>Name
                  </th>
                  <th>Invoice Number

                  </th>
                  <th>Invoice Date
                  </th>
                  <th >Due Date

                  </th>

                  <th >Status

                  </th>


                  <th></th>
                </tr>
                {% for inv in inv %}
                <tr>

                  <td>
                    {{ inv.customer.first_name }}
                  </td>
                  <td>
                    {{ inv.invoice_number }}
                  </td>
                  <td>
                    {{ inv.invoice_date }}
                  </td>
                  <td>
                    {{ inv.due_date }}
                  </td>
                  <td>
                    {{ inv.get_status_display }}
                  </td>

                  <td>
                    <div>
                      <a href="/mysite/invoice/detail/{{inv.id}}" style="color: inherit"><i
                          class="fa fa-eye"></i></a>
                      <a href="/mysite/invoice/update/{{inv.id}}" style="color: inherit"><i
                          class="fa fa-edit"></i></a>
                      <a style="color:inherit" href="/mysite/invoice/delete/{{inv.id}}"
                        onclick="return confirm('Are you sure?')"><i class="fa fa-trash-o"></i></a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td>
                    No invoice details found.
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>

          <!-- /.box-body -->
          </div>

        
        <!-- /.box -->
        </div>
      </div>
    </div>
  <!-- /.row -->
  </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}