{% extends "admin_base.html" %}
{% block title %} Invoice Detail{% endblock %}
{% load staticfiles %}

{% block content-wrapper %}

<!-- Content Wrapper. Contains page -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Invoice Details
        </h1>
        <ol class="breadcrumb">
            <li><a href="/mysite/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/invoice/listing/">Invoice List</a></li>
            <li>Invoice Details</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">

                        <h3 class="box-title">Invoice Detail</h3>
                        <span class="pull-right">
                           {% if invoice_obj.status != 4 %}<a class=""
                                                        href="#"></a>
                            <a class="btn btn-success btn-sm" href="/mysite/invoice/update/{{invoice_obj.id}}">Edit</a>{% endif %}
                            <a class="btn btn-sm btn-danger" href="/mysite/invoice/delete/{{invoice_obj.id}}/">Delete</a>
<!--                            <a href="#" class="btn btn-sm btn-default">Clone</a>-->
                        </span>
                    </div>


                    <div class="box-body no-padding">
                        <table class="table">

                            <tr>
                                <td><b>Customer</b></td>
                                <td>{{ invoice_obj.customer.first_name }}</td>
                            </tr>
                            <tr>
                                <td><b> Invoice Number</b></td>
                                <td>{{ invoice_obj.invoice_number }}</td>
                            </tr>
                            <tr>
                                <td><b>Order Number</b></td>
                                <td>{{ invoice_obj.order_number }}</td>
                            </tr>
                            <tr>
                                <td><b> Invoice Date</b></td>
                                <td>{{ invoice_obj.invoice_date }}</td>
                            </tr>
                            <tr>
                                <td><b> Terms </b></td>
                                <td>{{ invoice_obj.get_terms_display }}</td>
                            </tr>
                            <tr>
                                <td><b> Due Date</b></td>
                                <td>{{ invoice_obj.due_date }}</td>
                            </tr>
                            <tr>
                                <td><b> Subject</b></td>
                                <td>{{ invoice_obj.subject }}</td>
                            </tr>
                            <tr>
                                <td><b> Subtotal</b></td>
                                <td>{{ invoice_obj.subtotal }}</td>
                            </tr>
                            <tr>
                                <td><b> Total</b></td>
                                <td>{{ invoice_obj.total }}</td>
                            </tr>
                            <tr>
                                <td><b> Status</b></td>
                                <td>{{ invoice_obj.get_status_display }}</td>
                            </tr>


                        </table>
                     </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">ProductInvoice Detail</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                              {% if pinvoice_obj %}
                              <tr>
                                  <th>Item</th>
                                  <th>Quantity</th>
                                  <th>Rate</th>
                                  <th>Discount</th>
                                  <th>Amount</th>
                              </tr>
                              {% for pinv in pinvoice_obj%}:
                              <tr>
                                  <td>{{ pinv.products.name }}</td>
                                  <td>{{ pinv.quantity }}</td>
                                  <td>{{ pinv.rate }}</td>
                                  <td>{{ pinv.discount }}</td>
                                  <td>{{ pinv.amount }}</td>
                              </tr>
                              {% endfor %}
                              {% else %}
                              <tr>
                                  <td>No products found</td>
                              </tr>
                              {% endif %}
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
